In [1]:
import numpy as np
import pandas as pd

In [2]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [3]:
States_=["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","District Columbia","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [4]:
#pd.read_csv('Table_12.1_Carbon_Dioxide_Emissions_From_Energy_Consumption_by_Source.csv',index_col=None)

In [5]:
states_ec=[]
states_ep=[]
states_rg=[]
states_rp=[]
states_abr=[]
states_cd=[]
states_sC=[]
states_sP=[]
states_sI=[]
states_sR=[]
states_sT=[]
states_co2C=[]
states_co2P=[]
states_co2I=[]
states_co2R=[]
states_co2T=[]
for i in states:
    states_ec.append('SEDS.TETCB.%s.A'%i)
    states_ep.append('SEDS.TEPRB.%s.A'%i)
    states_rg.append('SEDS.GDPRX.%s.A'%i)
    states_rp.append('SEDS.TPOPP.%s.A'%i)
    states_abr.append('EMISS.CO2-TOTV-TT-TO-%s.A'%i)
    states_cd.append('SEDS.GDPRV.%s.A'%i)
    states_co2C.append('EMISS.CO2-TOTV-CC-TO-%s.A'%i) #commerical emission
    states_co2P.append('EMISS.CO2-TOTV-EC-TO-%s.A'%i) #electrical power emission
    states_co2I.append('EMISS.CO2-TOTV-IC-TO-%s.A'%i)#industrial emission
    states_co2R.append('EMISS.CO2-TOTV-RC-TO-%s.A'%i)#Residential carbon dioxide emissions
    states_co2T.append('EMISS.CO2-TOTV-TC-TO-%s.A'%i)#Transportation carbon dioxide emissions
    states_sC.append('SEDS.TECCB.%s.A'%i)#comm
    states_sP.append('SEDS.TEEIB.%s.A'%i)#powerer
    states_sI.append('SEDS.TEICB.%s.A'%i)#indu
    states_sR.append('SEDS.TERCB.%s.A'%i)#residentai
    states_sT.append('SEDS.TEACB.%s.A'%i)#transpor

In [6]:
import json
import numpy as np
import pandas as pd
from urllib.error import URLError, HTTPError
from urllib.request import urlopen

class EIAgov(object):
    def __init__(self, token, series):
        '''
        Purpose:
        Initialise the EIAgov class by requesting:
        - EIA token
        - id code(s) of the series to be downloaded

        Parameters:
        - token: string
        - series: string or list of strings
        '''
        self.token = token
        self.series = series

    '''
    def __repr__(self):
        return str(self.series)
    '''

    def Raw(self, ser):
        # Construct url
        url = 'http://api.eia.gov/series/?api_key=' + self.token + '&series_id=' + ser.upper()

        try:
            # URL request, URL opener, read content
            response = urlopen(url);
            raw_byte = response.read()
            raw_string = str(raw_byte, 'utf-8-sig')
            jso = json.loads(raw_string)
            return jso

        except HTTPError as e:
            print('HTTP error type.')
            print('Error code: ', e.code)

        except URLError as e:
            print('URL type error.')
            print('Reason: ', e.reason)

    def GetData(self):
        # Deal with the date series                       
        date_ = self.Raw(self.series[0])        
        date_series = date_['series'][0]['data']
        endi = len(date_series) # or len(date_['series'][0]['data'])
        date = []
        for i in range (endi):
            date.append(date_series[i][0])

        # Create dataframe
        df = pd.DataFrame(data=date)
        df.columns = ['Date']

        # Deal with data
        lenj = len(self.series)
        for j in range (lenj):
            data_ = self.Raw(self.series[j])
            data_series = data_['series'][0]['data']
            data = []
            endk = len(date_series)         
            for k in range (endk):
                data.append(data_series[k][1])
            df[self.series[j]] = data
        
        return df

if __name__ == '__main__':
    tok = '24a8506ec725730b4b4c083a58f4f848'
        
    # Natural Gas - Daily prices
    # http://www.eia.gov/beta/api/qb.cfm?category=462457&sdid=NG.RNGC1.D
    #ng = states_ec #['EMISS.CO2-TOTV-TT-TO-AL.A','EMISS.CO2-TOTV-TT-TO-AK.A']#['ELEC.REV.AL-ALL.M', 'ELEC.REV.AK-ALL.M', 'ELEC.REV.CA-ALL.M']#['NG.RNGC1.D']  # w/ several series at a time 
    
    csC=states_co2C
    csP=states_co2P
    csI=states_co2I
    csR=states_co2R
    csT=states_co2T
    abr=states_abr
    ec=states_ec
    ep=states_ep
    rp=states_rp
    rg=states_rg
    sC=states_sC
    sP=states_sP
    sI=states_sI
    sR=states_sR
    sT=states_sT
    cd=states_cd
    data_co2C= EIAgov(tok, csC)
    data_co2P= EIAgov(tok, csP)
    data_co2I= EIAgov(tok, csI)
    data_co2R= EIAgov(tok, csR)
    data_co2T= EIAgov(tok, csT)
    data_abr=EIAgov(tok,abr)
    data_ec=EIAgov(tok,ec)
    data_ep=EIAgov(tok,ep)
    data_rp=EIAgov(tok,rp)
    data_rg=EIAgov(tok,rg)
    data_sC=EIAgov(tok,sC)
    data_sP=EIAgov(tok,sP)
    data_sI=EIAgov(tok,sI)
    data_sR=EIAgov(tok,sR)
    data_sT=EIAgov(tok,sT)
    data_cd=EIAgov(tok,cd)

    #print(data_ec.GetData())

In [7]:
TT_US_States=data_abr.GetData()

In [8]:
#TT_US_States.head()

In [9]:
US_states_co2C=data_co2C.GetData()
US_states_co2P=data_co2P.GetData()
US_states_co2I=data_co2I.GetData()
US_states_co2R=data_co2R.GetData()
US_states_co2T=data_co2T.GetData()
US_states_sC=data_sC.GetData()
US_states_sP=data_sP.GetData()
US_states_sI=data_sI.GetData()
US_states_sR=data_sR.GetData()
US_states_sT=data_sT.GetData()

In [10]:
#US_states_sT.head()

In [11]:
#US_states_sP.head()

In [12]:
#US_states_co2P.head()

In [13]:
#pd.DataFrame(np.divide(US_states_co2C.iloc[:5,1:].values,US_states_sC.iloc[:5,1:].values)+np.divide(US_states_co2P.iloc[:5,1:].values,US_states_sP.iloc[:5,1:].values)+np.divide(US_states_co2I.iloc[:5,1:].values,US_states_sI.iloc[:5,1:].values)+np.divide(US_states_co2R.iloc[:5,1:].values,US_states_sR.iloc[:5,1:].values)+np.divide(US_states_co2T.iloc[:5,1:].values,US_states_sT.iloc[:5,1:].values))

In [14]:
#pd.DataFrame(np.divide(US_states_co2P.iloc[:5,1:].values,US_states_sP.iloc[:5,1:].values))

In [15]:
TT_US_States_ec=data_ec.GetData()

In [16]:
TT_US_States_ep=data_ep.GetData()

In [17]:
TT_US_States_rg=data_rg.GetData()

In [18]:
TT_US_States_rp=data_rp.GetData()

In [19]:
TT_US_States_cd=data_cd.GetData()

In [20]:
#TT_US_States_ec.head()

In [21]:
#TT_US_States_ep.head()

In [22]:
#TT_US_States_rg.head()

In [23]:
#TT_US_States_rp.head() #residential population

In [24]:
#TT_US_States.head()

In [25]:
#TT_US_States_cd.head() #gdp current dollar(cd)

In [26]:
#co2 emissions per person/capita (co2/population-capital) #$
pd.DataFrame(np.divide(TT_US_States.iloc[:5,1:].values,TT_US_States_rp.iloc[:5,1:].values),columns=states_abr).head()

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,0.023676,0.047048,0.012593,0.020887,0.009196,0.016101,0.009560,0.004041,0.013966,0.011137,...,0.017396,0.015502,0.023430,0.019304,0.009558,0.012389,0.010830,0.051696,0.016561,0.103714
1,0.024767,0.049095,0.013370,0.019910,0.009243,0.016622,0.010156,0.004437,0.013610,0.011455,...,0.016691,0.015165,0.022530,0.021263,0.009874,0.012334,0.010264,0.050044,0.017332,0.108145
2,0.025447,0.047950,0.013893,0.023272,0.009120,0.017171,0.009765,0.004568,0.013632,0.011444,...,0.018249,0.015848,0.022929,0.022153,0.009428,0.012514,0.010151,0.054091,0.017573,0.112040
3,0.025043,0.049090,0.014387,0.023143,0.009283,0.017318,0.009688,0.004349,0.014173,0.011336,...,0.018337,0.015140,0.023415,0.023029,0.009200,0.012714,0.010496,0.050935,0.017572,0.117239
4,0.025592,0.052306,0.013961,0.022385,0.009288,0.017451,0.009488,0.004165,0.014589,0.011524,...,0.018015,0.015447,0.022629,0.021517,0.008731,0.011943,0.009910,0.049626,0.015765,0.114572

In [27]:
dataf=pd.read_csv('state_land_area.csv',index_col=None,encoding='latin_1')
#dataf.sort_values('State federal district or territory').head()

In [28]:
dataf.columns=['states', 'Rank', 'sq mi', 'km²', 'Rank.1','sq mi.1', 'km².1', '% land', 'Rank.2', 'sq mi.2', 'km².2', '% water']
#dataf.head()

In [29]:
datafa=pd.read_csv('forest_cover.csv',index_col=None,encoding='latin_1')
datafa.sort_values('states')

        rank                                             states  percent
55        56                                       North Dakota   0.0172
6          7                                            Alabama   0.7057
35        36                                             Alaska   0.3516
2          3                                     American Samoa   0.8084
46        47                                            Arizona   0.2564
16        17                                           Arkansas   0.5631
40        41                                         California   0.3271
37        38                                           Colorado   0.3442
19        20                                        Connecticut   0.5524
45        46                                           Delaware   0.2726
39        40                               District of Columbia   0.3390
25        26                                            Florida   0.5068
8          9                                            Georgia   0.6728
23        24                                               Guam   0.5282
29        30                                             Hawaii   0.4253
31        32                                              Idaho   0.4055
50        51                                           Illinois   0.1364
47        48                                            Indiana   0.2106
51        52                                               Iowa   0.0843
52        53                                             Kansas   0.0478
26        27                                           Kentucky   0.4935
21        22                                          Louisiana   0.5320
0          1                                              Maine   0.8946
32        33                                           Maryland   0.3936
12        13                                      Massachusetts   0.6057
18        19                                           Michigan   0.5562
38        39                                          Minnesota   0.3408
9         10                                        Mississippi   0.6507
34        35                                           Missouri   0.3516
44        45                                            Montana   0.2745
54        55                                           Nebraska   0.0320
49        50                                             Nevada   0.1589
1          2                                      New Hampshire   0.8432
30        31                                         New Jersey   0.4172
41        42                                         New Mexico   0.3199
11        12                                           New York   0.6288
13        14                                     North Carolina   0.5973
3          4                           Northern Mariana Islands   0.8037
42        43                                               Ohio   0.3092
43        44                                           Oklahoma   0.2880
28        29                                             Oregon   0.4851
14        15                                       Pennsylvania   0.5860
17        18                                        Puerto Rico   0.5562
20        21                                       Rhode Island   0.5438
7          8                                     South Carolina   0.6819
53        54                                       South Dakota   0.0393
22        23                                          Tennessee   0.5283
33        34                                              Texas   0.3733
36        37                                               Utah   0.3448
5          6                                            Vermont   0.7782
10        11                                           Virginia   0.6293
24        25                                         Washington   0.5274
4          5                                      West Virginia   0.7901
27        28                                          Wisconsin   0.4898
48        49                                            Wyoming   0.1842
57  [note 2]                                            No data      NaN
56                   United States U.S. Minor Outlying Islands      NaN
15        16  United States Virgin Islands Virgin Islands (U...   0.5716

In [30]:
data_cmb=dataf.merge(datafa,how='right')[:51]

In [31]:
data_cmb

,states,Rank,sq mi,km²,Rank.1,sq mi.1,km².1,% land,Rank.2,sq mi.2,km².2,% water,rank,percent
0,Alaska,1.00,665384.04,1723337.0,1.0,570640.95,1477953.0,0.858,1.0,94743.10,245384.00,0.1424,36,0.3516
1,Texas,2.00,268596.46,695662.0,2.0,261231.71,676587.0,0.973,8.0,7364.75,19075.00,0.0274,34,0.3733
2,California,3.00,163696.32,423972.0,3.0,155779.22,403466.0,0.952,6.0,7915.52,20501.00,0.0484,41,0.3271
3,Montana,4.00,147039.71,380831.0,4.0,145545.80,376962.0,0.990,26.0,1493.91,3869.00,0.0102,45,0.2745
4,New Mexico,5.00,121590.30,314917.0,5.0,121298.15,314161.0,0.998,49.0,292.15,757.00,0.0024,42,0.3199
5,Arizona,6.00,113990.30,295234.0,6.0,113594.08,294207.0,0.997,48.0,396.22,1026.00,0.0035,47,0.2564
6,Nevada,7.00,110571.82,286380.0,7.0,109781.18,284332.0,0.993,36.0,790.65,2048.00,0.0072,50,0.1589
7,Colorado,8.00,104093.67,269601.0,8.0,103641.89,268431.0,0.996,44.0,451.78,1170.00,0.0043,38,0.3442
8,Oregon,9.00,98378.54,254799.0,10.0,95988.01,248608.0,0.976,20.0,2390.53,6191.00,0.0243,29,0.4851
9,Wyoming,10.00,97813.01,253335.0,9.0,97093.14,251470.0,0.993,37.0,719.87,1864.00,0.0074,49,0.1842
10,Michigan,11.00,96713.51,250487.0,22.0,56538.90,146435.0,0.585,2.0,40174.61,104052.00,0.4154,19,0.5562
11,Minnesota,12.00,86935.83,225163.0,14.0,79626.74,206232.0,0.916,9.0,7309.09,18930.00,0.0841,39,0.3408
12,Utah,13.00,84896.88,219882.0,12.0,82169.62,212818.0,0.968,17.0,2727.26,7064.00,0.0321,37,0.3448
13,Idaho,14.00,83568.95,216443.0,11.0,82643.12,214045.0,0.989,33.0,925.83,2398.00,0.0111,32,0.4055
14,Kansas,15.00,82278.36,213100.0,13.0,81758.72,211754.0,0.994,42.0,519.64,1346.00,0.0063,53,0.0478
15,Nebraska,16.00,77347.81,200330.0,15.0,76824.17,198974.0,0.993,41.0,523.64,1356.00,0.0068,55,0.0320
16,South Dakota,17.00,77115.68,199729.0,16.0,75811.00,196350.0,0.983,29.0,1304.68,3379.00,0.0169,54,0.0393
17,Washington,18.00,71297.95,184661.0,20.0,66455.52,172119.0,0.932,11.0,4842.43,12542.00,0.0679,25,0.5274
18,North Dakota,19.00,70698.32,183108.0,17.0,69000.80,178711.0,0.976,24.0,1697.52,4397.00,0.0240,56,0.0172
19,Oklahoma,20.00,69898.87,181037.0,19.0,68594.92,177660.0,0.981,30.0,1303.95,3377.00,0.0187,44,0.2880
20,Missouri,21.00,69706.99,180540.0,18.0,68741.52,178040.0,0.986,32.0,965.47,2501.00,0.0139,35,0.3516
21,Florida,22.00,65757.70,170312.0,26.0,53624.76,138887.0,0.816,3.0,12132.94,31424.00,0.1845,26,0.5068
22,Wisconsin,23.00,65496.38,169635.0,25.0,54157.80,140268.0,0.827,4.0,11338.57,29367.00,0.1731,28,0.4898
23,Georgia,24.00,59425.15,153910.0,21.0,57513.49,148959.0,0.968,22.0,1911.66,4951.00,0.0322,9,0.6728
24,Illinois,25.00,57913.55,149995.0,24.0,55518.93,143793.0,0.959,19.0,2394.62,6202.00,0.0413,51,0.1364
25,Iowa,26.00,56272.81,145746.0,23.0,55857.13,144669.0,0.993,45.0,415.68,1077.00,0.0074,52,0.0843
26,New York,27.00,54554.98,141297.0,30.0,47126.40,122057.0,0.864,7.0,7428.58,19240.00,0.1362,12,0.6288
27,North Carolina,28.00,53819.16,139391.0,29.0,48617.91,125920.0,0.903,10.0,5201.25,13471.00,0.0966,14,0.5973
28,Arkansas,29.00,53178.55,137732.0,27.0,52035.48,134771.0,0.979,31.0,1143.07,2961.00,0.0215,17,0.5631
29,Alabama,30.00,52420.07,135767.0,28.0,50645.33,131171.0,0.966,23.0,1774.74,4597.00,0.0339,7,0.7057
30,Louisiana,31.00,52378.13,135659.0,33.0,43203.90,111898.0,0.825,5.0,9174.23,23761.00,0.1752,22,0.5320
31,Mississippi,32.00,48431.78,125438.0,31.0,46923.27,121531.0,0.969,25.0,1508.51,3907.00,0.0311,10,0.6507
32,Pennsylvania,33.00,46054.35,119280.0,32.0,44742.70,115883.0,0.972,28.0,1311.64,3397.00,0.0285,15,0.5860
33,Ohio,34.00,44825.58,116098.0,35.0,40860.69,105829.0,0.912,14.0,3964.89,10269.00,0.0885,43,0.3092
34,Virginia,35.00,42774.93,110787.0,36.0,39490.09,102279.0,0.923,15.0,3284.84,8508.00,0.0768,11,0.6293
35,Tennessee,36.00,42144.25,109153.0,34.0,41234.90,106798.0,0.978,35.0,909.36,2355.00,0.0216,23,0.5283
36,Kentucky,37.00,40407.80,104656.0,37.0,39486.34,102269.0,0.977,34.0,921.46,2387.00,0.0228,27,0.4935
37,Indiana,38.00,36419.55,94326.0,38.0,35826.11,92789.0,0.984,39.0,593.44,1537.00,0.0163,48,0.2106
38,Maine,39.00,35379.74,91633.0,39.0,30842.92,79883.0,0.872,12.0,4536.82,11750.00,0.1282,1,0.8946
39,South Carolina,40.00,32020.49,82933.0,40.0,30060.70,77857.0,0.939,21.0,1959.79,5076.00,0.0612,8,0.6819
40,West Virginia,41.00,24230.04,62756.0,41.0,24038.21,62259.0,0.992,50.0,191.83,497.00,0.0079,5,0.7901
41,Maryland,42.00,12405.93,32131.0,42.0,9707.24,25142.0,0.783,18.0,2698.69,6990.00,0.2175,33,0.3936
42,Hawaii,43.00,10931.72,28313.0,47.0,6422.63,16635.0,0.588,13.0,4509.09,11678.00,0.4125,30,0.4253
43,Massachusetts,44.00,10554.39,27336.0,45.0,7800.06,20202.0,0.739,16.0,2754.33,7134.00,0.2610,13,0.6057
44,Vermont,45.00,9616.36,24906.0,43.0,9216.66,23871.0,0.958,46.0,399.71,1035.00,0.0416,6,0.7782
45,New Hampshire,46.00,9349.16,24214.0,44.0,8952.65,23187.0,0.958,47.0,396.51,1027.00,0.0424,2,0.8432
46,New Jersey,47.00,8722.58,22591.0,46.0,7354.22,19047.0,0.843,27.0,1368.36,3544.00,0.1569,31,0.4172
47,Connecticut,48.00,5543.41,14357.0,48.0,4842.36,12542.0,0.874,38.0,701.06,1816.00,0.1265,20,0.5524
48,Delaware,49.00,2488.72,6446.0,49.0,1948.54,5047.0,0.783,40.0,540.18,1399.00,0.2171,46,0.2726
49,Rhode Island,50.00,1544.89,4001.0,50.0,1033.81,2678.0,0.669,43.0,511.07,1324.00,0.3308,21,0.5438
50,District of Columbia,NaN,68.34,177.0,NaN,61.05,158.0,0.893,NaN,7.29,19.00,0.1067,40,0.3390

In [32]:
state_lst=['Alaska',
 'Texas',
 'California',
 'Montana',
 'New Mexico',
 'Arizona',
 'Nevada',
 'Colorado',
 'Oregon',
 'Wyoming',
 'Michigan',
 'Minnesota',
 'Utah',
 'Idaho',
 'Kansas',
 'Nebraska',
 'South Dakota',
 'Washington',
 'North Dakota',
 'Oklahoma',
 'Missouri',
 'Florida',
 'Wisconsin',
 'Georgia',
 'Illinois',
 'Iowa',
 'New York',
 'North Carolina',
 'Arkansas',
 'Alabama',
 'Louisiana',
 'Mississippi',
 'Pennsylvania',
 'Ohio',
 'Virginia',
 'Tennessee',
 'Kentucky',
 'Indiana',
 'Maine',
 'South Carolina',
 'West Virginia',
 'Maryland',
 'Hawaii',
 'Massachusetts',
 'Vermont',
 'New Hampshire',
 'New Jersey',
 'Connecticut',
 'Delaware',
 'Rhode Island',
 'DC-District of Columbia']

In [33]:
data_cmb['states']=state_lst

In [34]:
data_cmb_sorted=data_cmb.sort_values('states')
data_cmb_sorted

,states,Rank,sq mi,km²,Rank.1,sq mi.1,km².1,% land,Rank.2,sq mi.2,km².2,% water,rank,percent
29,Alabama,30.00,52420.07,135767.0,28.0,50645.33,131171.0,0.966,23.0,1774.74,4597.00,0.0339,7,0.7057
0,Alaska,1.00,665384.04,1723337.0,1.0,570640.95,1477953.0,0.858,1.0,94743.10,245384.00,0.1424,36,0.3516
5,Arizona,6.00,113990.30,295234.0,6.0,113594.08,294207.0,0.997,48.0,396.22,1026.00,0.0035,47,0.2564
28,Arkansas,29.00,53178.55,137732.0,27.0,52035.48,134771.0,0.979,31.0,1143.07,2961.00,0.0215,17,0.5631
2,California,3.00,163696.32,423972.0,3.0,155779.22,403466.0,0.952,6.0,7915.52,20501.00,0.0484,41,0.3271
7,Colorado,8.00,104093.67,269601.0,8.0,103641.89,268431.0,0.996,44.0,451.78,1170.00,0.0043,38,0.3442
47,Connecticut,48.00,5543.41,14357.0,48.0,4842.36,12542.0,0.874,38.0,701.06,1816.00,0.1265,20,0.5524
50,DC-District of Columbia,NaN,68.34,177.0,NaN,61.05,158.0,0.893,NaN,7.29,19.00,0.1067,40,0.3390
48,Delaware,49.00,2488.72,6446.0,49.0,1948.54,5047.0,0.783,40.0,540.18,1399.00,0.2171,46,0.2726
21,Florida,22.00,65757.70,170312.0,26.0,53624.76,138887.0,0.816,3.0,12132.94,31424.00,0.1845,26,0.5068
23,Georgia,24.00,59425.15,153910.0,21.0,57513.49,148959.0,0.968,22.0,1911.66,4951.00,0.0322,9,0.6728
42,Hawaii,43.00,10931.72,28313.0,47.0,6422.63,16635.0,0.588,13.0,4509.09,11678.00,0.4125,30,0.4253
13,Idaho,14.00,83568.95,216443.0,11.0,82643.12,214045.0,0.989,33.0,925.83,2398.00,0.0111,32,0.4055
24,Illinois,25.00,57913.55,149995.0,24.0,55518.93,143793.0,0.959,19.0,2394.62,6202.00,0.0413,51,0.1364
37,Indiana,38.00,36419.55,94326.0,38.0,35826.11,92789.0,0.984,39.0,593.44,1537.00,0.0163,48,0.2106
25,Iowa,26.00,56272.81,145746.0,23.0,55857.13,144669.0,0.993,45.0,415.68,1077.00,0.0074,52,0.0843
14,Kansas,15.00,82278.36,213100.0,13.0,81758.72,211754.0,0.994,42.0,519.64,1346.00,0.0063,53,0.0478
36,Kentucky,37.00,40407.80,104656.0,37.0,39486.34,102269.0,0.977,34.0,921.46,2387.00,0.0228,27,0.4935
30,Louisiana,31.00,52378.13,135659.0,33.0,43203.90,111898.0,0.825,5.0,9174.23,23761.00,0.1752,22,0.5320
38,Maine,39.00,35379.74,91633.0,39.0,30842.92,79883.0,0.872,12.0,4536.82,11750.00,0.1282,1,0.8946
41,Maryland,42.00,12405.93,32131.0,42.0,9707.24,25142.0,0.783,18.0,2698.69,6990.00,0.2175,33,0.3936
43,Massachusetts,44.00,10554.39,27336.0,45.0,7800.06,20202.0,0.739,16.0,2754.33,7134.00,0.2610,13,0.6057
10,Michigan,11.00,96713.51,250487.0,22.0,56538.90,146435.0,0.585,2.0,40174.61,104052.00,0.4154,19,0.5562
11,Minnesota,12.00,86935.83,225163.0,14.0,79626.74,206232.0,0.916,9.0,7309.09,18930.00,0.0841,39,0.3408
31,Mississippi,32.00,48431.78,125438.0,31.0,46923.27,121531.0,0.969,25.0,1508.51,3907.00,0.0311,10,0.6507
20,Missouri,21.00,69706.99,180540.0,18.0,68741.52,178040.0,0.986,32.0,965.47,2501.00,0.0139,35,0.3516
3,Montana,4.00,147039.71,380831.0,4.0,145545.80,376962.0,0.990,26.0,1493.91,3869.00,0.0102,45,0.2745
15,Nebraska,16.00,77347.81,200330.0,15.0,76824.17,198974.0,0.993,41.0,523.64,1356.00,0.0068,55,0.0320
6,Nevada,7.00,110571.82,286380.0,7.0,109781.18,284332.0,0.993,36.0,790.65,2048.00,0.0072,50,0.1589
45,New Hampshire,46.00,9349.16,24214.0,44.0,8952.65,23187.0,0.958,47.0,396.51,1027.00,0.0424,2,0.8432
46,New Jersey,47.00,8722.58,22591.0,46.0,7354.22,19047.0,0.843,27.0,1368.36,3544.00,0.1569,31,0.4172
4,New Mexico,5.00,121590.30,314917.0,5.0,121298.15,314161.0,0.998,49.0,292.15,757.00,0.0024,42,0.3199
26,New York,27.00,54554.98,141297.0,30.0,47126.40,122057.0,0.864,7.0,7428.58,19240.00,0.1362,12,0.6288
27,North Carolina,28.00,53819.16,139391.0,29.0,48617.91,125920.0,0.903,10.0,5201.25,13471.00,0.0966,14,0.5973
18,North Dakota,19.00,70698.32,183108.0,17.0,69000.80,178711.0,0.976,24.0,1697.52,4397.00,0.0240,56,0.0172
33,Ohio,34.00,44825.58,116098.0,35.0,40860.69,105829.0,0.912,14.0,3964.89,10269.00,0.0885,43,0.3092
19,Oklahoma,20.00,69898.87,181037.0,19.0,68594.92,177660.0,0.981,30.0,1303.95,3377.00,0.0187,44,0.2880
8,Oregon,9.00,98378.54,254799.0,10.0,95988.01,248608.0,0.976,20.0,2390.53,6191.00,0.0243,29,0.4851
32,Pennsylvania,33.00,46054.35,119280.0,32.0,44742.70,115883.0,0.972,28.0,1311.64,3397.00,0.0285,15,0.5860
49,Rhode Island,50.00,1544.89,4001.0,50.0,1033.81,2678.0,0.669,43.0,511.07,1324.00,0.3308,21,0.5438
39,South Carolina,40.00,32020.49,82933.0,40.0,30060.70,77857.0,0.939,21.0,1959.79,5076.00,0.0612,8,0.6819
16,South Dakota,17.00,77115.68,199729.0,16.0,75811.00,196350.0,0.983,29.0,1304.68,3379.00,0.0169,54,0.0393
35,Tennessee,36.00,42144.25,109153.0,34.0,41234.90,106798.0,0.978,35.0,909.36,2355.00,0.0216,23,0.5283
1,Texas,2.00,268596.46,695662.0,2.0,261231.71,676587.0,0.973,8.0,7364.75,19075.00,0.0274,34,0.3733
12,Utah,13.00,84896.88,219882.0,12.0,82169.62,212818.0,0.968,17.0,2727.26,7064.00,0.0321,37,0.3448
44,Vermont,45.00,9616.36,24906.0,43.0,9216.66,23871.0,0.958,46.0,399.71,1035.00,0.0416,6,0.7782
34,Virginia,35.00,42774.93,110787.0,36.0,39490.09,102279.0,0.923,15.0,3284.84,8508.00,0.0768,11,0.6293
17,Washington,18.00,71297.95,184661.0,20.0,66455.52,172119.0,0.932,11.0,4842.43,12542.00,0.0679,25,0.5274
40,West Virginia,41.00,24230.04,62756.0,41.0,24038.21,62259.0,0.992,50.0,191.83,497.00,0.0079,5,0.7901
22,Wisconsin,23.00,65496.38,169635.0,25.0,54157.80,140268.0,0.827,4.0,11338.57,29367.00,0.1731,28,0.4898
9,Wyoming,10.00,97813.01,253335.0,9.0,97093.14,251470.0,0.993,37.0,719.87,1864.00,0.0074,49,0.1842

In [35]:
#data_cmb=data_cmb.drop(['Rank','Rank.1','Rank.2','rank'],axis=1)
data_cmb['forest_area_/sqmi']=data_cmb['sq mi.1']*data_cmb['percent']
#data_cmb['forest_area_/km²']=data_cmb['km².1']*data_cmb['percent']

In [36]:
data_cmb['forest_area_/km²']=data_cmb['km².1']*data_cmb['percent']

In [37]:
data_cmb.sort_values('forest_area_/km²',ascending=True)

,states,Rank,sq mi,km²,Rank.1,sq mi.1,km².1,% land,Rank.2,sq mi.2,km².2,% water,rank,percent,forest_area_/sqmi,forest_area_/km²
50,DC-District of Columbia,NaN,68.34,177.0,NaN,61.05,158.0,0.893,NaN,7.29,19.00,0.1067,40,0.3390,20.695950,53.5620
48,Delaware,49.00,2488.72,6446.0,49.0,1948.54,5047.0,0.783,40.0,540.18,1399.00,0.2171,46,0.2726,531.172004,1375.8122
49,Rhode Island,50.00,1544.89,4001.0,50.0,1033.81,2678.0,0.669,43.0,511.07,1324.00,0.3308,21,0.5438,562.185878,1456.2964
18,North Dakota,19.00,70698.32,183108.0,17.0,69000.80,178711.0,0.976,24.0,1697.52,4397.00,0.0240,56,0.0172,1186.813760,3073.8292
15,Nebraska,16.00,77347.81,200330.0,15.0,76824.17,198974.0,0.993,41.0,523.64,1356.00,0.0068,55,0.0320,2458.373440,6367.1680
47,Connecticut,48.00,5543.41,14357.0,48.0,4842.36,12542.0,0.874,38.0,701.06,1816.00,0.1265,20,0.5524,2674.919664,6928.2008
42,Hawaii,43.00,10931.72,28313.0,47.0,6422.63,16635.0,0.588,13.0,4509.09,11678.00,0.4125,30,0.4253,2731.544539,7074.8655
16,South Dakota,17.00,77115.68,199729.0,16.0,75811.00,196350.0,0.983,29.0,1304.68,3379.00,0.0169,54,0.0393,2979.372300,7716.5550
46,New Jersey,47.00,8722.58,22591.0,46.0,7354.22,19047.0,0.843,27.0,1368.36,3544.00,0.1569,31,0.4172,3068.180584,7946.4084
41,Maryland,42.00,12405.93,32131.0,42.0,9707.24,25142.0,0.783,18.0,2698.69,6990.00,0.2175,33,0.3936,3820.769664,9895.8912
14,Kansas,15.00,82278.36,213100.0,13.0,81758.72,211754.0,0.994,42.0,519.64,1346.00,0.0063,53,0.0478,3908.066816,10121.8412
25,Iowa,26.00,56272.81,145746.0,23.0,55857.13,144669.0,0.993,45.0,415.68,1077.00,0.0074,52,0.0843,4708.756059,12195.5967
43,Massachusetts,44.00,10554.39,27336.0,45.0,7800.06,20202.0,0.739,16.0,2754.33,7134.00,0.2610,13,0.6057,4724.496342,12236.3514
44,Vermont,45.00,9616.36,24906.0,43.0,9216.66,23871.0,0.958,46.0,399.71,1035.00,0.0416,6,0.7782,7172.404812,18576.4122
37,Indiana,38.00,36419.55,94326.0,38.0,35826.11,92789.0,0.984,39.0,593.44,1537.00,0.0163,48,0.2106,7544.978766,19541.3634
45,New Hampshire,46.00,9349.16,24214.0,44.0,8952.65,23187.0,0.958,47.0,396.51,1027.00,0.0424,2,0.8432,7548.874480,19551.2784
24,Illinois,25.00,57913.55,149995.0,24.0,55518.93,143793.0,0.959,19.0,2394.62,6202.00,0.0413,51,0.1364,7572.782052,19613.3652
33,Ohio,34.00,44825.58,116098.0,35.0,40860.69,105829.0,0.912,14.0,3964.89,10269.00,0.0885,43,0.3092,12634.125348,32722.3268
6,Nevada,7.00,110571.82,286380.0,7.0,109781.18,284332.0,0.993,36.0,790.65,2048.00,0.0072,50,0.1589,17444.229502,45180.3548
9,Wyoming,10.00,97813.01,253335.0,9.0,97093.14,251470.0,0.993,37.0,719.87,1864.00,0.0074,49,0.1842,17884.556388,46320.7740
40,West Virginia,41.00,24230.04,62756.0,41.0,24038.21,62259.0,0.992,50.0,191.83,497.00,0.0079,5,0.7901,18992.589721,49190.8359
36,Kentucky,37.00,40407.80,104656.0,37.0,39486.34,102269.0,0.977,34.0,921.46,2387.00,0.0228,27,0.4935,19486.508790,50469.7515
19,Oklahoma,20.00,69898.87,181037.0,19.0,68594.92,177660.0,0.981,30.0,1303.95,3377.00,0.0187,44,0.2880,19755.336960,51166.0800
39,South Carolina,40.00,32020.49,82933.0,40.0,30060.70,77857.0,0.939,21.0,1959.79,5076.00,0.0612,8,0.6819,20498.391330,53090.6883
35,Tennessee,36.00,42144.25,109153.0,34.0,41234.90,106798.0,0.978,35.0,909.36,2355.00,0.0216,23,0.5283,21784.397670,56421.3834
30,Louisiana,31.00,52378.13,135659.0,33.0,43203.90,111898.0,0.825,5.0,9174.23,23761.00,0.1752,22,0.5320,22984.474800,59529.7360
20,Missouri,21.00,69706.99,180540.0,18.0,68741.52,178040.0,0.986,32.0,965.47,2501.00,0.0139,35,0.3516,24169.518432,62598.8640
34,Virginia,35.00,42774.93,110787.0,36.0,39490.09,102279.0,0.923,15.0,3284.84,8508.00,0.0768,11,0.6293,24851.113637,64364.1747
32,Pennsylvania,33.00,46054.35,119280.0,32.0,44742.70,115883.0,0.972,28.0,1311.64,3397.00,0.0285,15,0.5860,26219.222200,67907.4380
22,Wisconsin,23.00,65496.38,169635.0,25.0,54157.80,140268.0,0.827,4.0,11338.57,29367.00,0.1731,28,0.4898,26526.490440,68703.2664
11,Minnesota,12.00,86935.83,225163.0,14.0,79626.74,206232.0,0.916,9.0,7309.09,18930.00,0.0841,39,0.3408,27136.792992,70283.8656
21,Florida,22.00,65757.70,170312.0,26.0,53624.76,138887.0,0.816,3.0,12132.94,31424.00,0.1845,26,0.5068,27177.028368,70387.9316
38,Maine,39.00,35379.74,91633.0,39.0,30842.92,79883.0,0.872,12.0,4536.82,11750.00,0.1282,1,0.8946,27592.076232,71463.3318
12,Utah,13.00,84896.88,219882.0,12.0,82169.62,212818.0,0.968,17.0,2727.26,7064.00,0.0321,37,0.3448,28332.084976,73379.6464
27,North Carolina,28.00,53819.16,139391.0,29.0,48617.91,125920.0,0.903,10.0,5201.25,13471.00,0.0966,14,0.5973,29039.477643,75212.0160
5,Arizona,6.00,113990.30,295234.0,6.0,113594.08,294207.0,0.997,48.0,396.22,1026.00,0.0035,47,0.2564,29125.522112,75434.6748
28,Arkansas,29.00,53178.55,137732.0,27.0,52035.48,134771.0,0.979,31.0,1143.07,2961.00,0.0215,17,0.5631,29301.178788,75889.5501
26,New York,27.00,54554.98,141297.0,30.0,47126.40,122057.0,0.864,7.0,7428.58,19240.00,0.1362,12,0.6288,29633.080320,76749.4416
31,Mississippi,32.00,48431.78,125438.0,31.0,46923.27,121531.0,0.969,25.0,1508.51,3907.00,0.0311,10,0.6507,30532.971789,79080.2217
10,Michigan,11.00,96713.51,250487.0,22.0,56538.90,146435.0,0.585,2.0,40174.61,104052.00,0.4154,19,0.5562,31446.936180,81447.1470
13,Idaho,14.00,83568.95,216443.0,11.0,82643.12,214045.0,0.989,33.0,925.83,2398.00,0.0111,32,0.4055,33511.785160,86795.2475
17,Washington,18.00,71297.95,184661.0,20.0,66455.52,172119.0,0.932,11.0,4842.43,12542.00,0.0679,25,0.5274,35048.641248,90775.5606
7,Colorado,8.00,104093.67,269601.0,8.0,103641.89,268431.0,0.996,44.0,451.78,1170.00,0.0043,38,0.3442,35673.538538,92393.9502
29,Alabama,30.00,52420.07,135767.0,28.0,50645.33,131171.0,0.966,23.0,1774.74,4597.00,0.0339,7,0.7057,35740.409381,92567.3747
23,Georgia,24.00,59425.15,153910.0,21.0,57513.49,148959.0,0.968,22.0,1911.66,4951.00,0.0322,9,0.6728,38695.076072,100219.6152
4,New Mexico,5.00,121590.30,314917.0,5.0,121298.15,314161.0,0.998,49.0,292.15,757.00,0.0024,42,0.3199,38803.278185,100500.1039
3,Montana,4.00,147039.71,380831.0,4.0,145545.80,376962.0,0.990,26.0,1493.91,3869.00,0.0102,45,0.2745,39952.322100,103476.0690
8,Oregon,9.00,98378.54,254799.0,10.0,95988.01,248608.0,0.976,20.0,2390.53,6191.00,0.0243,29,0.4851,46563.783651,120599.7408
2,California,3.00,163696.32,423972.0,3.0,155779.22,403466.0,0.952,6.0,7915.52,20501.00,0.0484,41,0.3271,50955.382862,131973.7286
1,Texas,2.00,268596.46,695662.0,2.0,261231.71,676587.0,0.973,8.0,7364.75,19075.00,0.0274,34,0.3733,97517.797343,252569.9271
0,Alaska,1.00,665384.04,1723337.0,1.0,570640.95,1477953.0,0.858,1.0,94743.10,245384.00,0.1424,36,0.3516,200637.358020,519648.2748

In [38]:
(data_cmb.sort_values('states')['forest_area_/sqmi']).shape

(51,)

In [39]:
data_cmb.sort_values('states')['forest_area_/sqmi']

29     35740.409381
0     200637.358020
5      29125.522112
28     29301.178788
2      50955.382862
7      35673.538538
47      2674.919664
50        20.695950
48       531.172004
21     27177.028368
23     38695.076072
42      2731.544539
13     33511.785160
24      7572.782052
37      7544.978766
25      4708.756059
14      3908.066816
36     19486.508790
30     22984.474800
38     27592.076232
41      3820.769664
43      4724.496342
10     31446.936180
11     27136.792992
31     30532.971789
20     24169.518432
3      39952.322100
15      2458.373440
6      17444.229502
45      7548.874480
46      3068.180584
4      38803.278185
26     29633.080320
27     29039.477643
18      1186.813760
33     12634.125348
19     19755.336960
8      46563.783651
32     26219.222200
49       562.185878
39     20498.391330
16      2979.372300
35     21784.397670
1      97517.797343
12     28332.084976
44      7172.404812
34     24851.113637
17     35048.641248
40     18992.589721
22     26526.490440
9      17884.556388
Name: forest_area_/sqmi, dtype: float64

In [40]:
#co2 emissions per forest-area (co2/forest-area) #$ 2016
#data_cmb.sort_values('forest_area_/km²',ascending=True)
#pd.DataFrame(np.divide(TT_US_States.iloc[:1,1:].values,data_cmb.sort_values('states')['forest_area_/sqmi']),columns=states_abr)

In [41]:
data_cmb_sorted['states']

29                    Alabama
0                      Alaska
5                     Arizona
28                   Arkansas
2                  California
7                    Colorado
47                Connecticut
50    DC-District of Columbia
48                   Delaware
21                    Florida
23                    Georgia
42                     Hawaii
13                      Idaho
24                   Illinois
37                    Indiana
25                       Iowa
14                     Kansas
36                   Kentucky
30                  Louisiana
38                      Maine
41                   Maryland
43              Massachusetts
10                   Michigan
11                  Minnesota
31                Mississippi
20                   Missouri
3                     Montana
15                   Nebraska
6                      Nevada
45              New Hampshire
46                 New Jersey
4                  New Mexico
26                   New York
27             North Carolina
18               North Dakota
33                       Ohio
19                   Oklahoma
8                      Oregon
32               Pennsylvania
49               Rhode Island
39             South Carolina
16               South Dakota
35                  Tennessee
1                       Texas
12                       Utah
44                    Vermont
34                   Virginia
17                 Washington
40              West Virginia
22                  Wisconsin
9                     Wyoming
Name: states, dtype: object

In [42]:
data_cmb.quantile(0.1)

sq mi                 9349.160000
km²                  24214.000000
Rank.1                   5.900000
sq mi.1               7354.220000
km².1                19047.000000
Rank.2                   5.900000
percent                  0.136400
forest_area_/sqmi     2674.919664
forest_area_/km²      6928.200800
Name: 0.1, dtype: float64

In [43]:
data_cmb.quantile([0.1,0.5,0.9]) #10,50,90 percentile

,sq mi,km²,Rank.1,sq mi.1,km².1,Rank.2,percent,forest_area_/sqmi,forest_area_/km²
0.1,9349.16,24214.0,5.9,7354.22,19047.0,5.9,0.1364,2674.919664,6928.2008
0.5,56272.81,145746.0,25.5,53624.76,138887.0,25.5,0.4172,22984.474800,59529.7360
0.9,113990.30,295234.0,45.1,113594.08,294207.0,45.1,0.6819,38803.278185,100500.1039

In [44]:
TT_US_States.iloc[:1,1:].values.shape

(1, 51)

In [45]:
#co2 per forest-area
co2_area=np.divide(TT_US_States.iloc[:1,1:].T,data_cmb.sort_values('states')['forest_area_/sqmi'].values.reshape(-1,1))

In [46]:
co2_area.columns=['co2_forest_area']
co2_area.sort_values('co2_forest_area',ascending=False)

                           co2_forest_area
EMISS.CO2-TOTV-TT-TO-DC.A         0.133548
EMISS.CO2-TOTV-TT-TO-ND.A         0.045739
EMISS.CO2-TOTV-TT-TO-NJ.A         0.036124
EMISS.CO2-TOTV-TT-TO-IL.A         0.026947
EMISS.CO2-TOTV-TT-TO-DE.A         0.025057
EMISS.CO2-TOTV-TT-TO-IN.A         0.024103
EMISS.CO2-TOTV-TT-TO-NE.A         0.019751
EMISS.CO2-TOTV-TT-TO-RI.A         0.017342
EMISS.CO2-TOTV-TT-TO-OH.A         0.016327
EMISS.CO2-TOTV-TT-TO-KS.A         0.015881
EMISS.CO2-TOTV-TT-TO-IA.A         0.015531
EMISS.CO2-TOTV-TT-TO-MD.A         0.015064
EMISS.CO2-TOTV-TT-TO-MA.A         0.013587
EMISS.CO2-TOTV-TT-TO-CT.A         0.012823
EMISS.CO2-TOTV-TT-TO-LA.A         0.009099
EMISS.CO2-TOTV-TT-TO-FL.A         0.008465
EMISS.CO2-TOTV-TT-TO-PA.A         0.008292
EMISS.CO2-TOTV-TT-TO-CA.A         0.007092
EMISS.CO2-TOTV-TT-TO-HI.A         0.006752
EMISS.CO2-TOTV-TT-TO-TX.A         0.006705
EMISS.CO2-TOTV-TT-TO-KY.A         0.006359
EMISS.CO2-TOTV-TT-TO-NY.A         0.005523
EMISS.CO2-TOTV-TT-TO-SD.A         0.005033
EMISS.CO2-TOTV-TT-TO-WV.A         0.004978
EMISS.CO2-TOTV-TT-TO-OK.A         0.004906
EMISS.CO2-TOTV-TT-TO-MO.A         0.004869
EMISS.CO2-TOTV-TT-TO-MI.A         0.004826
EMISS.CO2-TOTV-TT-TO-TN.A         0.004731
EMISS.CO2-TOTV-TT-TO-VA.A         0.004194
EMISS.CO2-TOTV-TT-TO-NC.A         0.004151
EMISS.CO2-TOTV-TT-TO-WI.A         0.003604
EMISS.CO2-TOTV-TT-TO-GA.A         0.003521
EMISS.CO2-TOTV-TT-TO-SC.A         0.003498
EMISS.CO2-TOTV-TT-TO-WY.A         0.003392
EMISS.CO2-TOTV-TT-TO-MN.A         0.003289
EMISS.CO2-TOTV-TT-TO-AL.A         0.003220
EMISS.CO2-TOTV-TT-TO-AZ.A         0.002987
EMISS.CO2-TOTV-TT-TO-CO.A         0.002496
EMISS.CO2-TOTV-TT-TO-MS.A         0.002257
EMISS.CO2-TOTV-TT-TO-WA.A         0.002250
EMISS.CO2-TOTV-TT-TO-AR.A         0.002130
EMISS.CO2-TOTV-TT-TO-NV.A         0.002101
EMISS.CO2-TOTV-TT-TO-UT.A         0.002074
EMISS.CO2-TOTV-TT-TO-NH.A         0.001822
EMISS.CO2-TOTV-TT-TO-NM.A         0.001247
EMISS.CO2-TOTV-TT-TO-VT.A         0.000830
EMISS.CO2-TOTV-TT-TO-OR.A         0.000815
EMISS.CO2-TOTV-TT-TO-MT.A         0.000762
EMISS.CO2-TOTV-TT-TO-ME.A         0.000597
EMISS.CO2-TOTV-TT-TO-ID.A         0.000549
EMISS.CO2-TOTV-TT-TO-AK.A         0.000174

In [47]:
#co2/btu?
pd.DataFrame(np.divide(TT_US_States.iloc[:5,1:].values,TT_US_States_ec.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,0.000060,0.000058,0.000059,0.000059,0.000046,0.000061,0.000047,0.000016,0.000049,0.000054,...,0.000039,0.000047,0.000050,0.000072,0.000044,0.000045,0.000038,0.000124,0.000053,0.000120
1,0.000062,0.000058,0.000063,0.000056,0.000047,0.000061,0.000048,0.000017,0.000046,0.000055,...,0.000037,0.000046,0.000048,0.000079,0.000044,0.000043,0.000037,0.000120,0.000055,0.000125
2,0.000063,0.000058,0.000066,0.000062,0.000047,0.000062,0.000047,0.000017,0.000046,0.000056,...,0.000039,0.000047,0.000049,0.000081,0.000042,0.000043,0.000035,0.000128,0.000054,0.000122
3,0.000063,0.000059,0.000067,0.000062,0.000047,0.000062,0.000046,0.000016,0.000048,0.000055,...,0.000040,0.000046,0.000049,0.000080,0.000042,0.000043,0.000036,0.000126,0.000055,0.000126
4,0.000065,0.000059,0.000066,0.000062,0.000047,0.000063,0.000047,0.000015,0.000049,0.000056,...,0.000040,0.000048,0.000049,0.000078,0.000042,0.000042,0.000033,0.000126,0.000052,0.000120

In [48]:
#total btu/realGDP #$
pd.DataFrame(np.divide(TT_US_States_ec.iloc[:5,1:].values,TT_US_States_rg.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,10.679680,12.908332,5.477861,9.664726,3.374044,4.970315,3.218453,1.599765,4.508172,5.167153,...,9.202797,7.597908,8.833167,5.934453,4.912800,5.387810,4.923093,11.525970,6.465368,14.574191
1,10.772217,12.792154,5.466885,9.835407,3.410531,5.168722,3.352316,1.663039,4.541202,5.325098,...,9.416648,7.710163,8.660160,6.063370,5.175879,5.512243,4.963227,11.530295,6.648235,14.137796
2,11.161472,12.228508,5.495836,10.434462,3.526712,5.326883,3.368766,1.702383,4.617569,5.351749,...,9.859903,8.056570,8.933835,6.292845,5.195356,5.759413,5.183608,11.739458,7.063301,15.143646
3,10.921937,12.038064,5.563074,10.409473,3.699626,5.522600,3.352850,1.687995,4.881044,5.451773,...,9.857377,7.934207,9.239293,6.786950,5.098874,5.723796,5.420034,11.340079,6.946328,15.257667
4,10.774399,12.121912,5.520165,10.396462,3.749205,5.595038,3.180144,1.665940,4.799660,5.503052,...,9.462911,7.863064,9.114486,6.609517,4.848125,5.560863,5.547993,11.083337,6.669437,15.722457

In [49]:
pd.DataFrame(np.divide(TT_US_States.iloc[:5,1:].values,TT_US_States_ep.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,0.000102,0.000024,0.000147,0.000055,0.000149,0.000029,0.000167,0.002466,0.003904,0.000417,...,0.000064,0.000211,0.000038,0.000064,0.000209,0.000114,0.000078,0.000025,0.000309,0.000008
1,0.000095,0.000025,0.000148,0.000045,0.000153,0.000028,0.000172,0.003521,0.003368,0.000426,...,0.000063,0.000209,0.000034,0.000062,0.000202,0.000111,0.000078,0.000022,0.000325,0.000007
2,0.000090,0.000024,0.000147,0.000048,0.000148,0.000030,0.000178,0.008752,0.003002,0.000425,...,0.000062,0.000205,0.000035,0.000056,0.000069,0.000106,0.000069,0.000024,0.000323,0.000007
3,0.000082,0.000024,0.000161,0.000048,0.000150,0.000032,0.000168,0.009239,0.003436,0.000424,...,0.000065,0.000178,0.000040,0.000059,0.000068,0.000102,0.000072,0.000025,0.000310,0.000007
4,0.000085,0.000024,0.000154,0.000045,0.000152,0.000031,0.000166,0.009667,0.003801,0.000527,...,0.000062,0.000211,0.000042,0.000055,0.000070,0.000093,0.000061,0.000025,0.000262,0.000007

In [50]:
#carbon intensity, co2 emissions per real gdp(c02/gdp) #$
pd.DataFrame(np.divide(TT_US_States.iloc[:5,1:].values,TT_US_States_rg.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,0.000637,0.000744,0.000323,0.000572,0.000156,0.000305,0.000152,0.000025,0.000220,0.000281,...,0.000360,0.000355,0.000441,0.000429,0.000215,0.000241,0.000187,0.001430,0.000345,0.001748
1,0.000673,0.000744,0.000345,0.000549,0.000160,0.000314,0.000162,0.000028,0.000210,0.000291,...,0.000348,0.000353,0.000416,0.000479,0.000226,0.000240,0.000181,0.001381,0.000367,0.001764
2,0.000698,0.000714,0.000361,0.000642,0.000164,0.000330,0.000157,0.000029,0.000215,0.000298,...,0.000388,0.000379,0.000434,0.000512,0.000218,0.000246,0.000183,0.001502,0.000378,0.001840
3,0.000683,0.000704,0.000375,0.000645,0.000172,0.000343,0.000155,0.000027,0.000233,0.000298,...,0.000390,0.000365,0.000450,0.000544,0.000214,0.000249,0.000194,0.001424,0.000383,0.001927
4,0.000702,0.000712,0.000362,0.000640,0.000175,0.000351,0.000150,0.000026,0.000235,0.000306,...,0.000383,0.000376,0.000450,0.000513,0.000203,0.000232,0.000185,0.001396,0.000347,0.001886

In [51]:
pd.DataFrame(np.divide(TT_US_States_ec.iloc[:5,1:].values,TT_US_States_rp.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,396.795927,816.617251,213.298017,352.804552,198.982899,262.749005,201.924749,254.713450,286.526758,204.655468,...,444.317865,332.200782,469.076151,266.763798,218.032103,277.178274,284.532619,416.636413,310.740863,864.511111
1,396.602350,843.883469,212.054396,356.930108,196.574862,273.999265,210.501948,265.199108,294.341102,209.454536,...,451.833724,330.763769,469.376871,269.158794,225.855769,283.793235,280.996505,417.728804,314.232986,866.844710
2,407.098554,821.234735,211.787205,378.375042,195.985556,277.575253,208.953333,271.222390,293.410695,205.859986,...,464.054181,337.231498,472.422683,272.223886,224.437700,292.892149,286.846885,422.734848,328.149365,922.048027
3,400.521541,838.924016,213.360187,373.544133,199.181240,278.994680,209.372571,268.884615,296.498378,207.263671,...,463.062871,329.363118,480.510216,287.123103,219.210863,292.546115,293.764613,405.726242,318.780373,928.305842
4,392.614250,890.803010,213.033313,363.717531,198.570189,277.941573,201.708449,271.718553,298.411123,207.526602,...,445.188475,323.263215,458.038730,277.300981,208.817891,286.748077,296.661007,393.891644,302.943541,955.173310

In [52]:
pd.DataFrame(np.divide(TT_US_States.iloc[:5,1:].values,TT_US_States_ep.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,0.000102,0.000024,0.000147,0.000055,0.000149,0.000029,0.000167,0.002466,0.003904,0.000417,...,0.000064,0.000211,0.000038,0.000064,0.000209,0.000114,0.000078,0.000025,0.000309,0.000008
1,0.000095,0.000025,0.000148,0.000045,0.000153,0.000028,0.000172,0.003521,0.003368,0.000426,...,0.000063,0.000209,0.000034,0.000062,0.000202,0.000111,0.000078,0.000022,0.000325,0.000007
2,0.000090,0.000024,0.000147,0.000048,0.000148,0.000030,0.000178,0.008752,0.003002,0.000425,...,0.000062,0.000205,0.000035,0.000056,0.000069,0.000106,0.000069,0.000024,0.000323,0.000007
3,0.000082,0.000024,0.000161,0.000048,0.000150,0.000032,0.000168,0.009239,0.003436,0.000424,...,0.000065,0.000178,0.000040,0.000059,0.000068,0.000102,0.000072,0.000025,0.000310,0.000007
4,0.000085,0.000024,0.000154,0.000045,0.000152,0.000031,0.000166,0.009667,0.003801,0.000527,...,0.000062,0.000211,0.000042,0.000055,0.000070,0.000093,0.000061,0.000025,0.000262,0.000007

In [53]:
pd.DataFrame(np.divide(TT_US_States_ep.iloc[:5,1:].values,TT_US_States_ec.iloc[:5,1:].values),columns=states_abr)

,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,EMISS.CO2-TOTV-TT-TO-FL.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,0.582988,2.365151,0.402485,1.072034,0.310916,2.118492,0.282753,0.006434,0.012484,0.130563,...,0.612336,0.221681,1.304840,1.133384,0.209395,0.390475,0.486720,4.966787,0.172703,14.866172
1,0.659978,2.287723,0.426044,1.242255,0.307826,2.142442,0.280075,0.004751,0.013730,0.128387,...,0.588624,0.219751,1.404572,1.270436,0.216775,0.392464,0.468557,5.342136,0.169850,17.872530
2,0.693958,2.436363,0.444889,1.284205,0.314200,2.064205,0.262951,0.001924,0.015477,0.130750,...,0.632356,0.229154,1.385196,1.464924,0.611411,0.404717,0.511821,5.377743,0.165616,17.416029
3,0.764539,2.447740,0.418967,1.298709,0.310585,1.930194,0.275662,0.001751,0.013914,0.128915,...,0.607206,0.257848,1.232234,1.348703,0.612821,0.424443,0.494093,5.056657,0.178036,17.096734
4,0.763769,2.400977,0.426757,1.367131,0.307004,2.027072,0.283122,0.001586,0.012863,0.105367,...,0.656439,0.226844,1.188548,1.413074,0.598860,0.446028,0.544953,5.092007,0.198602,17.441616

In [ ]:
#len(TT_US_States.columns),TT_US_States.columns[:5]

In [ ]:
#TT_US_States.describe()

In [ ]:
#TT_US_States.info()

In [55]:
TT_US_States[states_abr].sum(axis=1).head() #total emissions all states

0    5160.990848
1    5207.386647
2    5350.265444
3    5301.451177
4    5162.563033
dtype: float64

In [56]:
#column rows transpose
new_header = TT_US_States.T.iloc[0] #grab the first row for the header
TT_US_States_ = TT_US_States.T[1:] #take the data less the header row
TT_US_States_.columns = new_header #set the header row as the df header

In [57]:
#Total_US_States.sum(axis=1).min()

In [58]:
#Total_US_States

In [59]:
TT_US_States.T.iloc[0]

0     2016
1     2015
2     2014
3     2013
4     2012
5     2011
6     2010
7     2009
8     2008
9     2007
10    2006
11    2005
12    2004
13    2003
14    2002
15    2001
16    2000
17    1999
18    1998
19    1997
20    1996
21    1995
22    1994
23    1993
24    1992
25    1991
26    1990
27    1989
28    1988
29    1987
30    1986
31    1985
32    1984
33    1983
34    1982
35    1981
36    1980
Name: Date, dtype: object

In [60]:
TT_US_States_.sort_values('2016').tail()

Date,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
EMISS.CO2-TOTV-TT-TO-LA.A,209.129,203.863,201.179,203.535,211.826,224.159,221.412,208.82,225.572,222.401,...,188.565,184.471,177.477,177.943,166.753,177.085,177.865,188.144,205.686,208.047
EMISS.CO2-TOTV-TT-TO-PA.A,217.409,229.768,245.937,246.265,236.423,247.201,254.385,242.488,267.546,275.723,...,271.081,267.849,255.854,244.623,249.972,261.925,244.414,240.143,271.319,294.198
EMISS.CO2-TOTV-TT-TO-FL.A,230.063,232.187,227.713,222.021,222.885,229.22,242.299,224.273,238.556,256.842,...,189.189,184.84,174.705,164.449,152.973,144.522,147.596,141.807,158.477,158.399
EMISS.CO2-TOTV-TT-TO-CA.A,361.354,360.787,352.943,355.993,353.126,348.619,362.771,368.134,381.485,397.347,...,359.128,344.367,336.25,305.611,320.772,317.161,294.851,299.673,336.566,348.524
EMISS.CO2-TOTV-TT-TO-TX.A,653.822,618.551,618.026,620.004,590.116,595.184,576.235,541.13,574.867,608.591,...,546.831,526.406,494.074,488.341,489.981,484.921,473.517,471.009,497.245,508.704

In [61]:
TT_US_States_.sort_values('2000').tail()

Date,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
EMISS.CO2-TOTV-TT-TO-FL.A,230.063,232.187,227.713,222.021,222.885,229.22,242.299,224.273,238.556,256.842,...,189.189,184.84,174.705,164.449,152.973,144.522,147.596,141.807,158.477,158.399
EMISS.CO2-TOTV-TT-TO-OH.A,206.274,212.659,231.37,229.455,215.158,235.104,246.764,235.058,259.921,267.332,...,255.882,255.573,246.111,243.82,240.703,240.467,234.195,245.181,266.496,273.75
EMISS.CO2-TOTV-TT-TO-PA.A,217.409,229.768,245.937,246.265,236.423,247.201,254.385,242.488,267.546,275.723,...,271.081,267.849,255.854,244.623,249.972,261.925,244.414,240.143,271.319,294.198
EMISS.CO2-TOTV-TT-TO-CA.A,361.354,360.787,352.943,355.993,353.126,348.619,362.771,368.134,381.485,397.347,...,359.128,344.367,336.25,305.611,320.772,317.161,294.851,299.673,336.566,348.524
EMISS.CO2-TOTV-TT-TO-TX.A,653.822,618.551,618.026,620.004,590.116,595.184,576.235,541.13,574.867,608.591,...,546.831,526.406,494.074,488.341,489.981,484.921,473.517,471.009,497.245,508.704

In [62]:
TT_US_States_.sort_values('1990').tail()

Date,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
EMISS.CO2-TOTV-TT-TO-NY.A,163.655,167.716,169.776,162.09,160.37,164.048,173.839,172.04,187.77,197.596,...,214.469,209.451,201.94,191.601,188.404,183.809,179.098,196.747,206.778,224.06
EMISS.CO2-TOTV-TT-TO-OH.A,206.274,212.659,231.37,229.455,215.158,235.104,246.764,235.058,259.921,267.332,...,255.882,255.573,246.111,243.82,240.703,240.467,234.195,245.181,266.496,273.75
EMISS.CO2-TOTV-TT-TO-PA.A,217.409,229.768,245.937,246.265,236.423,247.201,254.385,242.488,267.546,275.723,...,271.081,267.849,255.854,244.623,249.972,261.925,244.414,240.143,271.319,294.198
EMISS.CO2-TOTV-TT-TO-CA.A,361.354,360.787,352.943,355.993,353.126,348.619,362.771,368.134,381.485,397.347,...,359.128,344.367,336.25,305.611,320.772,317.161,294.851,299.673,336.566,348.524
EMISS.CO2-TOTV-TT-TO-TX.A,653.822,618.551,618.026,620.004,590.116,595.184,576.235,541.13,574.867,608.591,...,546.831,526.406,494.074,488.341,489.981,484.921,473.517,471.009,497.245,508.704

In [63]:
TT_US_States_.iloc[:,15:].sum(axis=1)

EMISS.CO2-TOTV-TT-TO-AL.A     2548.449278
EMISS.CO2-TOTV-TT-TO-AK.A      751.319771
EMISS.CO2-TOTV-TT-TO-AZ.A     1451.764050
EMISS.CO2-TOTV-TT-TO-AR.A     1149.406983
EMISS.CO2-TOTV-TT-TO-CA.A     7531.981098
EMISS.CO2-TOTV-TT-TO-CO.A     1494.788022
EMISS.CO2-TOTV-TT-TO-CT.A      876.094907
EMISS.CO2-TOTV-TT-TO-DC.A      102.346119
EMISS.CO2-TOTV-TT-TO-DE.A      364.014629
EMISS.CO2-TOTV-TT-TO-FL.A     4168.859202
EMISS.CO2-TOTV-TT-TO-GA.A     3059.835852
EMISS.CO2-TOTV-TT-TO-HI.A      404.953258
EMISS.CO2-TOTV-TT-TO-ID.A      264.106158
EMISS.CO2-TOTV-TT-TO-IL.A     4570.380326
EMISS.CO2-TOTV-TT-TO-IN.A     4345.870829
EMISS.CO2-TOTV-TT-TO-IA.A     1399.567384
EMISS.CO2-TOTV-TT-TO-KS.A     1520.349071
EMISS.CO2-TOTV-TT-TO-KY.A     2662.872068
EMISS.CO2-TOTV-TT-TO-LA.A     4327.937574
EMISS.CO2-TOTV-TT-TO-ME.A      407.061989
EMISS.CO2-TOTV-TT-TO-MD.A     1530.317399
EMISS.CO2-TOTV-TT-TO-MA.A     1798.847395
EMISS.CO2-TOTV-TT-TO-MI.A     3936.981591
EMISS.CO2-TOTV-TT-TO-MN.A     1745.391223
EMISS.CO2-TOTV-TT-TO-MS.A     1114.032279
EMISS.CO2-TOTV-TT-TO-MO.A     2413.912567
EMISS.CO2-TOTV-TT-TO-MT.A      561.875639
EMISS.CO2-TOTV-TT-TO-NE.A      764.322458
EMISS.CO2-TOTV-TT-TO-NV.A      713.454881
EMISS.CO2-TOTV-TT-TO-NH.A      323.242583
EMISS.CO2-TOTV-TT-TO-NJ.A     2549.919754
EMISS.CO2-TOTV-TT-TO-NM.A     1106.713381
EMISS.CO2-TOTV-TT-TO-NY.A     4417.880060
EMISS.CO2-TOTV-TT-TO-NC.A     2682.215675
EMISS.CO2-TOTV-TT-TO-ND.A      919.198975
EMISS.CO2-TOTV-TT-TO-OH.A     5547.537822
EMISS.CO2-TOTV-TT-TO-OK.A     1972.155292
EMISS.CO2-TOTV-TT-TO-OR.A      718.754781
EMISS.CO2-TOTV-TT-TO-PA.A     5798.344456
EMISS.CO2-TOTV-TT-TO-RI.A      234.554699
EMISS.CO2-TOTV-TT-TO-SC.A     1379.737425
EMISS.CO2-TOTV-TT-TO-SD.A      262.661615
EMISS.CO2-TOTV-TT-TO-TN.A     2379.699550
EMISS.CO2-TOTV-TT-TO-TX.A    12159.558248
EMISS.CO2-TOTV-TT-TO-UT.A     1095.489542
EMISS.CO2-TOTV-TT-TO-VT.A      124.308195
EMISS.CO2-TOTV-TT-TO-VA.A     2137.854107
EMISS.CO2-TOTV-TT-TO-WA.A     1456.063304
EMISS.CO2-TOTV-TT-TO-WV.A     2293.787043
EMISS.CO2-TOTV-TT-TO-WI.A     1979.021527
EMISS.CO2-TOTV-TT-TO-WY.A     1190.083235
dtype: float64

In [64]:
#emitters in 80s
TT_US_States_.iloc[:,27:].sum(axis=1).sort_values(ascending=False).head(10)

EMISS.CO2-TOTV-TT-TO-TX.A    4981.029342
EMISS.CO2-TOTV-TT-TO-CA.A    3262.901637
EMISS.CO2-TOTV-TT-TO-PA.A    2601.377686
EMISS.CO2-TOTV-TT-TO-OH.A    2502.179057
EMISS.CO2-TOTV-TT-TO-IL.A    2046.478318
EMISS.CO2-TOTV-TT-TO-NY.A    1996.357040
EMISS.CO2-TOTV-TT-TO-LA.A    1852.035560
EMISS.CO2-TOTV-TT-TO-IN.A    1800.596600
EMISS.CO2-TOTV-TT-TO-MI.A    1695.723854
EMISS.CO2-TOTV-TT-TO-FL.A    1616.956316
dtype: float64

In [65]:
#emitters in 90s
TT_US_States_.iloc[:,17:27].sum(axis=1).sort_values(ascending=False).head(10)

EMISS.CO2-TOTV-TT-TO-TX.A    5890.559063
EMISS.CO2-TOTV-TT-TO-CA.A    3510.163714
EMISS.CO2-TOTV-TT-TO-PA.A    2659.260084
EMISS.CO2-TOTV-TT-TO-OH.A    2527.579422
EMISS.CO2-TOTV-TT-TO-IN.A    2083.053969
EMISS.CO2-TOTV-TT-TO-FL.A    2073.557357
EMISS.CO2-TOTV-TT-TO-IL.A    2069.313934
EMISS.CO2-TOTV-TT-TO-LA.A    2051.841734
EMISS.CO2-TOTV-TT-TO-NY.A    2004.132764
EMISS.CO2-TOTV-TT-TO-MI.A    1858.275969
dtype: float64

In [66]:
#emitters in 20s
TT_US_States_.iloc[:,7:17].sum(axis=1).sort_values(ascending=False).head(10)

EMISS.CO2-TOTV-TT-TO-TX.A    6159.295437
EMISS.CO2-TOTV-TT-TO-CA.A    3817.600295
EMISS.CO2-TOTV-TT-TO-PA.A    2692.365853
EMISS.CO2-TOTV-TT-TO-OH.A    2604.325891
EMISS.CO2-TOTV-TT-TO-FL.A    2462.824261
EMISS.CO2-TOTV-TT-TO-IL.A    2326.780870
EMISS.CO2-TOTV-TT-TO-IN.A    2287.797956
EMISS.CO2-TOTV-TT-TO-LA.A    2128.512980
EMISS.CO2-TOTV-TT-TO-NY.A    1999.193346
EMISS.CO2-TOTV-TT-TO-MI.A    1836.417805
dtype: float64

In [67]:
#Top 10 emitters in 2010s
TT_US_States_.iloc[:,:7].sum(axis=1).sort_values(ascending=False).head(10)

EMISS.CO2-TOTV-TT-TO-TX.A    4271.938121
EMISS.CO2-TOTV-TT-TO-CA.A    2495.592210
EMISS.CO2-TOTV-TT-TO-PA.A    1677.388376
EMISS.CO2-TOTV-TT-TO-FL.A    1606.386921
EMISS.CO2-TOTV-TT-TO-OH.A    1576.783870
EMISS.CO2-TOTV-TT-TO-IL.A    1555.781333
EMISS.CO2-TOTV-TT-TO-LA.A    1475.103249
EMISS.CO2-TOTV-TT-TO-IN.A    1392.743535
EMISS.CO2-TOTV-TT-TO-NY.A    1161.493791
EMISS.CO2-TOTV-TT-TO-MI.A    1113.590406
dtype: float64

In [68]:
TT_US_States_.sort_values('1980').tail()

Date,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
EMISS.CO2-TOTV-TT-TO-IL.A,204.067,215.031,232.412,229.525,216.024,228.791,229.931,224.815,240.006,241.582,...,191.592,199.764,194.528,196.131,198.012,205.629,209.95,203.983,215.067,231.822
EMISS.CO2-TOTV-TT-TO-OH.A,206.274,212.659,231.37,229.455,215.158,235.104,246.764,235.058,259.921,267.332,...,255.882,255.573,246.111,243.82,240.703,240.467,234.195,245.181,266.496,273.75
EMISS.CO2-TOTV-TT-TO-PA.A,217.409,229.768,245.937,246.265,236.423,247.201,254.385,242.488,267.546,275.723,...,271.081,267.849,255.854,244.623,249.972,261.925,244.414,240.143,271.319,294.198
EMISS.CO2-TOTV-TT-TO-CA.A,361.354,360.787,352.943,355.993,353.126,348.619,362.771,368.134,381.485,397.347,...,359.128,344.367,336.25,305.611,320.772,317.161,294.851,299.673,336.566,348.524
EMISS.CO2-TOTV-TT-TO-TX.A,653.822,618.551,618.026,620.004,590.116,595.184,576.235,541.13,574.867,608.591,...,546.831,526.406,494.074,488.341,489.981,484.921,473.517,471.009,497.245,508.704

In [69]:
col=TT_US_States.columns
#col

In [70]:
#TT_US_States=TT_US_States[col]
TT_US_States['mean']=TT_US_States[states_abr].mean(axis=1)
TT_US_States['sum']=TT_US_States[states_abr].sum(axis=1)
TT_US_States.head()

,Date,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,...,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A,mean,sum
0,2016,115.088298,34.909446,87.005950,62.410797,361.354016,89.039444,34.301330,2.763911,13.309544,...,653.821691,58.761516,5.954931,104.237817,78.856651,94.552182,95.609027,60.672975,101.195899,5160.990848
1,2015,120.142812,36.232439,90.945957,59.252208,360.786696,90.422297,36.501388,2.986004,12.847488,...,618.551402,63.469779,6.161364,103.198361,73.419535,92.080740,99.831976,63.373017,102.105621,5207.386647
2,2014,123.161802,35.339307,93.168568,69.001821,352.942992,91.726979,35.152490,3.019504,12.745682,...,618.026214,65.107913,5.902009,104.079051,71.536807,99.959470,101.061041,65.319221,104.907166,5350.265444
3,2013,120.908517,36.179222,95.187654,68.435171,355.993407,91.142754,34.895227,2.827055,13.110057,...,620.003757,66.783230,5.759173,105.042324,73.082723,94.331604,100.810347,68.233258,103.950023,5301.451177
4,2012,123.201027,38.235964,91.363448,66.012080,353.125564,90.501519,34.136396,2.648670,13.377891,...,590.116325,61.408705,5.465304,97.800619,68.290878,92.056806,90.188846,66.108280,101.226726,5162.563033

In [71]:
TT_US_States=TT_US_States[col]
TT_US_States.head()

,Date,EMISS.CO2-TOTV-TT-TO-AL.A,EMISS.CO2-TOTV-TT-TO-AK.A,EMISS.CO2-TOTV-TT-TO-AZ.A,EMISS.CO2-TOTV-TT-TO-AR.A,EMISS.CO2-TOTV-TT-TO-CA.A,EMISS.CO2-TOTV-TT-TO-CO.A,EMISS.CO2-TOTV-TT-TO-CT.A,EMISS.CO2-TOTV-TT-TO-DC.A,EMISS.CO2-TOTV-TT-TO-DE.A,...,EMISS.CO2-TOTV-TT-TO-SD.A,EMISS.CO2-TOTV-TT-TO-TN.A,EMISS.CO2-TOTV-TT-TO-TX.A,EMISS.CO2-TOTV-TT-TO-UT.A,EMISS.CO2-TOTV-TT-TO-VT.A,EMISS.CO2-TOTV-TT-TO-VA.A,EMISS.CO2-TOTV-TT-TO-WA.A,EMISS.CO2-TOTV-TT-TO-WV.A,EMISS.CO2-TOTV-TT-TO-WI.A,EMISS.CO2-TOTV-TT-TO-WY.A
0,2016,115.088298,34.909446,87.005950,62.410797,361.354016,89.039444,34.301330,2.763911,13.309544,...,14.995021,103.072623,653.821691,58.761516,5.954931,104.237817,78.856651,94.552182,95.609027,60.672975
1,2015,120.142812,36.232439,90.945957,59.252208,360.786696,90.422297,36.501388,2.986004,12.847488,...,14.254485,99.951545,618.551402,63.469779,6.161364,103.198361,73.419535,92.080740,99.831976,63.373017
2,2014,123.161802,35.339307,93.168568,69.001821,352.942992,91.726979,35.152490,3.019504,12.745682,...,15.493402,103.645676,618.026214,65.107913,5.902009,104.079051,71.536807,99.959470,101.061041,65.319221
3,2013,120.908517,36.179222,95.187654,68.435171,355.993407,91.142754,34.895227,2.827055,13.110057,...,15.458342,98.273647,620.003757,66.783230,5.759173,105.042324,73.082723,94.331604,100.810347,68.233258
4,2012,123.201027,38.235964,91.363448,66.012080,353.125564,90.501519,34.136396,2.648670,13.377891,...,15.006836,99.648656,590.116325,61.408705,5.465304,97.800619,68.290878,92.056806,90.188846,66.108280

In [72]:
#year of max co2 emission for each state
for i in range(1,52):
    print(TT_US_States[TT_US_States.columns[i]].idxmax(),TT_US_States[TT_US_States.columns[i]].max(),TT_US_States['Date'].iloc[TT_US_States[TT_US_States.columns[i]].idxmax()],TT_US_States.columns[i])

9 147.430252 2007 EMISS.CO2-TOTV-TT-TO-AL.A
11 48.215328 2005 EMISS.CO2-TOTV-TT-TO-AK.A
8 102.248473 2008 EMISS.CO2-TOTV-TT-TO-AZ.A
2 69.001821 2014 EMISS.CO2-TOTV-TT-TO-AR.A
9 397.347483 2007 EMISS.CO2-TOTV-TT-TO-CA.A
9 98.816598 2007 EMISS.CO2-TOTV-TT-TO-CO.A
12 44.600367 2004 EMISS.CO2-TOTV-TT-TO-CT.A
36 5.271103 1980 EMISS.CO2-TOTV-TT-TO-DC.A
32 18.099659 1984 EMISS.CO2-TOTV-TT-TO-DE.A
11 260.659213 2005 EMISS.CO2-TOTV-TT-TO-FL.A
9 184.458367 2007 EMISS.CO2-TOTV-TT-TO-GA.A
9 23.995537 2007 EMISS.CO2-TOTV-TT-TO-HI.A
0 18.38191 2016 EMISS.CO2-TOTV-TT-TO-ID.A
11 242.005413 2005 EMISS.CO2-TOTV-TT-TO-IL.A
16 236.274136 2000 EMISS.CO2-TOTV-TT-TO-IN.A
8 89.049678 2008 EMISS.CO2-TOTV-TT-TO-IA.A
9 79.652928 2007 EMISS.CO2-TOTV-TT-TO-KS.A
9 152.483223 2007 EMISS.CO2-TOTV-TT-TO-KY.A
16 225.675622 2000 EMISS.CO2-TOTV-TT-TO-LA.A
12 24.008399 2004 EMISS.CO2-TOTV-TT-TO-ME.A
11 82.005117 2005 EMISS.CO2-TOTV-TT-TO-MD.A
27 89.896221 1989 EMISS.CO2-TOTV-TT-TO-MA.A
17 197.855054 1999 EMISS.CO2-TOTV-TT-TO-MI.A
11 101.374944 2005 EMISS.CO2-TOTV-TT-TO-MN.A
15 69.921938 2001 EMISS.CO2-TOTV-TT-TO-MS.A
11 141.164393 2005 EMISS.CO2-TOTV-TT-TO-MO.A
9 36.523287 2007 EMISS.CO2-TOTV-TT-TO-MT.A
3 53.487188 2013 EMISS.CO2-TOTV-TT-TO-NE.A
11 49.863061 2005 EMISS.CO2-TOTV-TT-TO-NV.A
12 21.932576 2004 EMISS.CO2-TOTV-TT-TO-NH.A
9 128.891488 2007 EMISS.CO2-TOTV-TT-TO-NJ.A
10 59.591057 2006 EMISS.CO2-TOTV-TT-TO-NM.A
36 224.060343 1980 EMISS.CO2-TOTV-TT-TO-NY.A
9 154.458804 2007 EMISS.CO2-TOTV-TT-TO-NC.A
2 58.60172 2014 EMISS.CO2-TOTV-TT-TO-ND.A
36 273.749955 1980 EMISS.CO2-TOTV-TT-TO-OH.A
8 111.557763 2008 EMISS.CO2-TOTV-TT-TO-OK.A
9 43.747883 2007 EMISS.CO2-TOTV-TT-TO-OR.A
36 294.197503 1980 EMISS.CO2-TOTV-TT-TO-PA.A
18 13.893596 1998 EMISS.CO2-TOTV-TT-TO-RI.A
12 87.381215 2004 EMISS.CO2-TOTV-TT-TO-SC.A
2 15.493402 2014 EMISS.CO2-TOTV-TT-TO-SD.A
10 127.176765 2006 EMISS.CO2-TOTV-TT-TO-TN.A
0 653.821691 2016 EMISS.CO2-TOTV-TT-TO-TX.A
9 70.004323 2007 EMISS.CO2-TOTV-TT-TO-UT.A
12 7.032695 2004 EMISS.CO2-TOTV-TT-TO-VT.A
11 128.941117 2005 EMISS.CO2-TOTV-TT-TO-VA.A
9 78.860782 2007 EMISS.CO2-TOTV-TT-TO-WA.A
14 116.478306 2002 EMISS.CO2-TOTV-TT-TO-WV.A
11 110.483536 2005 EMISS.CO2-TOTV-TT-TO-WI.A
3 68.233258 2013 EMISS.CO2-TOTV-TT-TO-WY.A

In [73]:
#year of min emissions for each state
for i in range(1,52):
    print(TT_US_States[TT_US_States.columns[i]].idxmin(),TT_US_States[TT_US_States.columns[i]].min(),TT_US_States['Date'].iloc[TT_US_States[TT_US_States.columns[i]].idxmin()],TT_US_States.columns[i])

33 89.55813 1983 EMISS.CO2-TOTV-TT-TO-AL.A
35 17.275555 1981 EMISS.CO2-TOTV-TT-TO-AK.A
36 52.685515 1980 EMISS.CO2-TOTV-TT-TO-AZ.A
36 37.850027 1980 EMISS.CO2-TOTV-TT-TO-AR.A
33 294.850713 1983 EMISS.CO2-TOTV-TT-TO-CA.A
33 56.242653 1983 EMISS.CO2-TOTV-TT-TO-CO.A
4 34.136396 2012 EMISS.CO2-TOTV-TT-TO-CT.A
4 2.64867 2012 EMISS.CO2-TOTV-TT-TO-DC.A
6 11.272409 2010 EMISS.CO2-TOTV-TT-TO-DE.A
34 141.806521 1982 EMISS.CO2-TOTV-TT-TO-FL.A
34 110.390387 1982 EMISS.CO2-TOTV-TT-TO-GA.A
34 15.017451 1982 EMISS.CO2-TOTV-TT-TO-HI.A
33 9.683799 1983 EMISS.CO2-TOTV-TT-TO-ID.A
24 186.521286 1992 EMISS.CO2-TOTV-TT-TO-IL.A
34 160.545853 1982 EMISS.CO2-TOTV-TT-TO-IN.A
30 53.459258 1986 EMISS.CO2-TOTV-TT-TO-IA.A
0 62.06268 2016 EMISS.CO2-TOTV-TT-TO-KS.A
34 96.585918 1982 EMISS.CO2-TOTV-TT-TO-KY.A
31 166.753195 1985 EMISS.CO2-TOTV-TT-TO-LA.A
33 13.486 1983 EMISS.CO2-TOTV-TT-TO-ME.A
0 57.557961 2016 EMISS.CO2-TOTV-TT-TO-MD.A
4 61.731697 2012 EMISS.CO2-TOTV-TT-TO-MA.A
0 151.766695 2016 EMISS.CO2-TOTV-TT-TO-MI.A
33 62.976971 1983 EMISS.CO2-TOTV-TT-TO-MN.A
33 42.798011 1983 EMISS.CO2-TOTV-TT-TO-MS.A
30 98.190942 1986 EMISS.CO2-TOTV-TT-TO-MO.A
34 15.695207 1982 EMISS.CO2-TOTV-TT-TO-MT.A
35 28.436632 1981 EMISS.CO2-TOTV-TT-TO-NE.A
36 22.329003 1980 EMISS.CO2-TOTV-TT-TO-NV.A
33 11.292389 1983 EMISS.CO2-TOTV-TT-TO-NH.A
4 103.593549 2012 EMISS.CO2-TOTV-TT-TO-NJ.A
30 42.818402 1986 EMISS.CO2-TOTV-TT-TO-NM.A
4 160.369528 2012 EMISS.CO2-TOTV-TT-TO-NY.A
31 106.760886 1985 EMISS.CO2-TOTV-TT-TO-NC.A
36 25.200373 1980 EMISS.CO2-TOTV-TT-TO-ND.A
0 206.274364 2016 EMISS.CO2-TOTV-TT-TO-OH.A
36 77.052768 1980 EMISS.CO2-TOTV-TT-TO-OK.A
33 25.518057 1983 EMISS.CO2-TOTV-TT-TO-OR.A
0 217.408711 2016 EMISS.CO2-TOTV-TT-TO-PA.A
34 7.449854 1982 EMISS.CO2-TOTV-TT-TO-RI.A
33 49.54969 1983 EMISS.CO2-TOTV-TT-TO-SC.A
29 9.439217 1987 EMISS.CO2-TOTV-TT-TO-SD.A
34 86.906333 1982 EMISS.CO2-TOTV-TT-TO-TN.A
34 471.009443 1982 EMISS.CO2-TOTV-TT-TO-TX.A
34 32.018501 1982 EMISS.CO2-TOTV-TT-TO-UT.A
34 4.103705 1982 EMISS.CO2-TOTV-TT-TO-VT.A
34 74.869456 1982 EMISS.CO2-TOTV-TT-TO-VA.A
33 47.840192 1983 EMISS.CO2-TOTV-TT-TO-WA.A
7 89.368775 2009 EMISS.CO2-TOTV-TT-TO-WV.A
34 77.256282 1982 EMISS.CO2-TOTV-TT-TO-WI.A
36 40.769449 1980 EMISS.CO2-TOTV-TT-TO-WY.A

In [74]:
#co2 /energy consumption
car_int=pd.read_csv('carbon_intensity.csv',index_col=None,encoding='latin_1')
car_int.head()

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,Percent,Absolute
0,Alabama,58.7,58.3,58.1,57.8,57.1,58.0,58.3,58.7,56.5,52.1,54.3,52.5,50.7,49.4,50.4,49.2,48.9,-15.7%,-9.1
1,Alaska,59.8,59.1,59.6,59.6,60.5,60.4,61.5,61.2,60.9,59.4,59.5,59.2,58.8,58.5,58.4,58.6,58.2,-3.7%,-2.3
2,Arizona,55.0,56.1,54.9,55.9,56.3,57.1,57.9,56.9,55.9,54.7,55.4,54.5,53.8,54.8,53.7,52.1,50.4,-11.7%,-6.7
3,Arkansas,57.2,56.7,54.7,55.0,55.5,55.7,55.5,55.1,55.9,54.0,54.7,55.4,54.9,57.4,56.5,53.2,54.0,-3.2%,-1.8
4,California,52.2,53.4,53.2,52.2,53.0,52.3,52.5,53.4,53.5,53.2,52.4,50.5,52.5,52.1,52.2,52.4,51.4,-1.8%,-1.0

In [ ]:
#state_list=[]
#for i in dataf['State federal district or territory']:
#    state_list.append('_'.join(i.strip().split(' ')))
#state_list

In [ ]:
#state_lst=[]
#for i in data_cmb['states']:
#    state_lst.append(i.strip())
    #state_lst.append('_'.join(i.strip().split(' ')))
#state_lst

In [ ]:
#data_1=df
#data_2=df
#data_3=df
#df.sort_values('State_district_or_territory')

In [ ]:
#df.info()
#df.describe
#df.sort_values('Kg/person_2002')

In [ ]:
#data_2.head()

In [ ]:

#Greenhouse_Gas_Emissions_From_Fuel_Combustion__By_Fuel_Type__Million_Metric_Tons.csv
#df_1=pd.read_csv('Greenhouse_Gas_Emissions_From_Fuel_Combustion__By_Fuel_Type__Million_Metric_Tons.csv',index_col=None,low_memory=False)

In [ ]:
#'MER_T12_01.csv'
#pd.read_csv('MER_T12_01.csv',index_col=None,low_memory=False).info()

In [ ]:
#df_2=pd.read_csv('Total_carbon_dioxide_emissions_from_all_sectors_all_fuels_United_States.csv',index_col=None,low_memory=False)

In [ ]:
#df_3=pd.read_csv('Inventory_of_New_York_City_Greenhouse_Gas_Emissions_-_Citywide_GHG_Emissions_Summary__2016_.csv',index_col=None,low_memory=False)

In [75]:
dummy=pd.DataFrame(TT_US_States.iloc[:1,1:].T)
dummy1=pd.DataFrame(TT_US_States_ec.iloc[:1,1:].T)
dummy2=pd.DataFrame(TT_US_States_ep.iloc[:1,1:].T)
dummy.columns=['co2']
dummy1.columns=['cons']
dummy2.columns=['prod']

In [ ]:
#dummy.index=states
#dummy.index

In [ ]:
#dummy.head()

In [ ]:
#!pip install plotly --upgrade

In [76]:
dummy['state']=States_
dummy1['state']=States_
dummy2['state']=States_

In [77]:
dummy['code']=states
dummy1['code']=states
dummy2['code']=states

In [78]:
dummy.set_index('code')

             co2              state
code
AL    115.088298            Alabama
AK     34.909446             Alaska
AZ     87.005950            Arizona
AR     62.410797           Arkansas
CA    361.354016         California
CO     89.039444           Colorado
CT     34.301330        Connecticut
DC      2.763911  District Columbia
DE     13.309544           Delaware
FL    230.062990            Florida
GA    136.241850            Georgia
HI     18.444466             Hawaii
ID     18.381910              Idaho
IL    204.066954           Illinois
IN    181.853103            Indiana
IA     73.132408               Iowa
KS     62.062680             Kansas
KY    123.920291           Kentucky
LA    209.129147          Louisiana
ME     16.461775              Maine
MD     57.557961           Maryland
MA     64.190622      Massachusetts
MI    151.766695           Michigan
MN     89.254966          Minnesota
MS     68.917324        Mississippi
MO    117.678467           Missouri
MT     30.459166            Montana
NE     48.554130           Nebraska
NV     36.651105             Nevada
NH     13.752911      New Hampshire
NJ    110.834299         New Jersey
NM     48.387022         New Mexico
NY    163.655447           New York
NC    120.553143     North Carolina
ND     54.283107       North Dakota
OH    206.274364               Ohio
OK     96.911043           Oklahoma
OR     37.968582             Oregon
PA    217.408711       Pennsylvania
RI      9.749477       Rhode Island
SC     71.707562     South Carolina
SD     14.995021       South Dakota
TN    103.072623          Tennessee
TX    653.821691              Texas
UT     58.761516               Utah
VT      5.954931            Vermont
VA    104.237817           Virginia
WA     78.856651         Washington
WV     94.552182      West Virginia
WI     95.609027          Wisconsin
WY     60.672975            Wyoming

In [79]:
dummy1.set_index('code')

          cons              state
code
AL     1928825            Alabama
AK      605930             Alaska
AZ     1473676            Arizona
AR     1054180           Arkansas
CA     7819232         California
CO     1453002           Colorado
CT      724506        Connecticut
DC      174224  District Columbia
DE      273060           Delaware
FL     4227568            Florida
GA     2830673            Georgia
HI      282609             Hawaii
ID      538146              Idaho
IL     3896291           Illinois
IN     2797737            Indiana
IA     1526700               Iowa
KS     1090817             Kansas
KY     1703559           Kentucky
LA     4199207          Louisiana
ME      395490              Maine
MD     1355778           Maryland
MA     1421131      Massachusetts
MI     2769536           Michigan
MN     1811223          Minnesota
MS     1160620        Mississippi
MO     1766398           Missouri
MT      404888            Montana
NE      868307           Nebraska
NV      680144             Nevada
NH      305904      New Hampshire
NJ     2211499         New Jersey
NM      672340         New Mexico
NY     3685544           New York
NC     2547815     North Carolina
ND      586429       North Dakota
OH     3693000               Ohio
OK     1633797           Oklahoma
OR      987666             Oregon
PA     3758844       Pennsylvania
RI      186147       Rhode Island
SC     1652020     South Carolina
SD      383002       South Dakota
TN     2208803          Tennessee
TX    13089570              Texas
UT      812029               Utah
VT      135834            Vermont
VA     2332178           Virginia
WA     2071682         Washington
WV      762028      West Virginia
WI     1793907          Wisconsin
WY      505739            Wyoming

In [80]:
#dummy['co2']=dummy['co2'].apply(lambda x: float(x))
dummy.sort_values('co2',ascending=True)

                                  co2              state code
EMISS.CO2-TOTV-TT-TO-DC.A    2.763911  District Columbia   DC
EMISS.CO2-TOTV-TT-TO-VT.A    5.954931            Vermont   VT
EMISS.CO2-TOTV-TT-TO-RI.A    9.749477       Rhode Island   RI
EMISS.CO2-TOTV-TT-TO-DE.A   13.309544           Delaware   DE
EMISS.CO2-TOTV-TT-TO-NH.A   13.752911      New Hampshire   NH
EMISS.CO2-TOTV-TT-TO-SD.A   14.995021       South Dakota   SD
EMISS.CO2-TOTV-TT-TO-ME.A   16.461775              Maine   ME
EMISS.CO2-TOTV-TT-TO-ID.A   18.381910              Idaho   ID
EMISS.CO2-TOTV-TT-TO-HI.A   18.444466             Hawaii   HI
EMISS.CO2-TOTV-TT-TO-MT.A   30.459166            Montana   MT
EMISS.CO2-TOTV-TT-TO-CT.A   34.301330        Connecticut   CT
EMISS.CO2-TOTV-TT-TO-AK.A   34.909446             Alaska   AK
EMISS.CO2-TOTV-TT-TO-NV.A   36.651105             Nevada   NV
EMISS.CO2-TOTV-TT-TO-OR.A   37.968582             Oregon   OR
EMISS.CO2-TOTV-TT-TO-NM.A   48.387022         New Mexico   NM
EMISS.CO2-TOTV-TT-TO-NE.A   48.554130           Nebraska   NE
EMISS.CO2-TOTV-TT-TO-ND.A   54.283107       North Dakota   ND
EMISS.CO2-TOTV-TT-TO-MD.A   57.557961           Maryland   MD
EMISS.CO2-TOTV-TT-TO-UT.A   58.761516               Utah   UT
EMISS.CO2-TOTV-TT-TO-WY.A   60.672975            Wyoming   WY
EMISS.CO2-TOTV-TT-TO-KS.A   62.062680             Kansas   KS
EMISS.CO2-TOTV-TT-TO-AR.A   62.410797           Arkansas   AR
EMISS.CO2-TOTV-TT-TO-MA.A   64.190622      Massachusetts   MA
EMISS.CO2-TOTV-TT-TO-MS.A   68.917324        Mississippi   MS
EMISS.CO2-TOTV-TT-TO-SC.A   71.707562     South Carolina   SC
EMISS.CO2-TOTV-TT-TO-IA.A   73.132408               Iowa   IA
EMISS.CO2-TOTV-TT-TO-WA.A   78.856651         Washington   WA
EMISS.CO2-TOTV-TT-TO-AZ.A   87.005950            Arizona   AZ
EMISS.CO2-TOTV-TT-TO-CO.A   89.039444           Colorado   CO
EMISS.CO2-TOTV-TT-TO-MN.A   89.254966          Minnesota   MN
EMISS.CO2-TOTV-TT-TO-WV.A   94.552182      West Virginia   WV
EMISS.CO2-TOTV-TT-TO-WI.A   95.609027          Wisconsin   WI
EMISS.CO2-TOTV-TT-TO-OK.A   96.911043           Oklahoma   OK
EMISS.CO2-TOTV-TT-TO-TN.A  103.072623          Tennessee   TN
EMISS.CO2-TOTV-TT-TO-VA.A  104.237817           Virginia   VA
EMISS.CO2-TOTV-TT-TO-NJ.A  110.834299         New Jersey   NJ
EMISS.CO2-TOTV-TT-TO-AL.A  115.088298            Alabama   AL
EMISS.CO2-TOTV-TT-TO-MO.A  117.678467           Missouri   MO
EMISS.CO2-TOTV-TT-TO-NC.A  120.553143     North Carolina   NC
EMISS.CO2-TOTV-TT-TO-KY.A  123.920291           Kentucky   KY
EMISS.CO2-TOTV-TT-TO-GA.A  136.241850            Georgia   GA
EMISS.CO2-TOTV-TT-TO-MI.A  151.766695           Michigan   MI
EMISS.CO2-TOTV-TT-TO-NY.A  163.655447           New York   NY
EMISS.CO2-TOTV-TT-TO-IN.A  181.853103            Indiana   IN
EMISS.CO2-TOTV-TT-TO-IL.A  204.066954           Illinois   IL
EMISS.CO2-TOTV-TT-TO-OH.A  206.274364               Ohio   OH
EMISS.CO2-TOTV-TT-TO-LA.A  209.129147          Louisiana   LA
EMISS.CO2-TOTV-TT-TO-PA.A  217.408711       Pennsylvania   PA
EMISS.CO2-TOTV-TT-TO-FL.A  230.062990            Florida   FL
EMISS.CO2-TOTV-TT-TO-CA.A  361.354016         California   CA
EMISS.CO2-TOTV-TT-TO-TX.A  653.821691              Texas   TX

In [81]:
dummy2.set_index('code')

          prod              state
code
AL     1124482            Alabama
AK     1433116             Alaska
AZ      593132            Arizona
AR     1130117           Arkansas
CA     2431124         California
CO     3078173           Colorado
CT      204856        Connecticut
DC        1121  District Columbia
DE        3409           Delaware
FL      551964            Florida
GA      648439            Georgia
HI       27372             Hawaii
ID      147037              Idaho
IL     2406215           Illinois
IN      917924            Indiana
IA      804274               Iowa
KS      792210             Kansas
KY     1233997           Kentucky
LA     2555429          Louisiana
ME      134140              Maine
MD      243417           Maryland
MA      120960      Massachusetts
MI      663773           Michigan
MN      483350          Minnesota
MS      332475        Mississippi
MO      190279           Missouri
MT      875177            Montana
NE      434332           Nebraska
NV       89544             Nevada
NH      163478      New Hampshire
NJ      363924         New Jersey
NM     2582214         New Mexico
NY      846027           New York
NC      648808     North Carolina
ND     3497535       North Dakota
OH     2410570               Ohio
OK     4004641           Oklahoma
OR      457191             Oregon
PA     7887773       Pennsylvania
RI        4114       Rhode Island
SC      710358     South Carolina
SD      234526       South Dakota
TN      489650          Tennessee
TX    17079792              Texas
UT      920341               Utah
VT       28443            Vermont
VA      910658           Virginia
WA     1008329         Washington
WV     3784831      West Virginia
WI      309813          Wisconsin
WY     7518403            Wyoming

In [82]:
#(dummy2['prod'].apply(lambda x:int(x)),50,axis=0)

In [83]:
#type(int(dummy3['con/prod'][1]))

In [84]:
dummy3=pd.DataFrame()
dummy3['prod/cons']=np.divide(dummy2['prod'].apply(lambda x:int(x)),dummy1['cons'].apply(lambda x:int(x)))
dummy3['code']=states
dummy3['state']=States_
dummy3.set_index('code')

      prod/cons              state
code
AL     0.582988            Alabama
AK     2.365151             Alaska
AZ     0.402485            Arizona
AR     1.072034           Arkansas
CA     0.310916         California
CO     2.118492           Colorado
CT     0.282753        Connecticut
DC     0.006434  District Columbia
DE     0.012484           Delaware
FL     0.130563            Florida
GA     0.229076            Georgia
HI     0.096855             Hawaii
ID     0.273229              Idaho
IL     0.617566           Illinois
IN     0.328095            Indiana
IA     0.526806               Iowa
KS     0.726254             Kansas
KY     0.724364           Kentucky
LA     0.608550          Louisiana
ME     0.339174              Maine
MD     0.179540           Maryland
MA     0.085115      Massachusetts
MI     0.239669           Michigan
MN     0.266864          Minnesota
MS     0.286463        Mississippi
MO     0.107721           Missouri
MT     2.161529            Montana
NE     0.500206           Nebraska
NV     0.131654             Nevada
NH     0.534409      New Hampshire
NJ     0.164560         New Jersey
NM     3.840637         New Mexico
NY     0.229553           New York
NC     0.254653     North Carolina
ND     5.964124       North Dakota
OH     0.652740               Ohio
OK     2.451125           Oklahoma
OR     0.462900             Oregon
PA     2.098457       Pennsylvania
RI     0.022101       Rhode Island
SC     0.429994     South Carolina
SD     0.612336       South Dakota
TN     0.221681          Tennessee
TX     1.304840              Texas
UT     1.133384               Utah
VT     0.209395            Vermont
VA     0.390475           Virginia
WA     0.486720         Washington
WV     4.966787      West Virginia
WI     0.172703          Wisconsin
WY    14.866172            Wyoming

In [86]:
import plotly 
plotly.tools.set_credentials_file(username='akpojotor1', api_key='S45uBhOmL5MuExcIStCG')

In [87]:
plotly.__version__

'3.9.0'

In [88]:
#df['state']
#dummy.drop(index='DC',inplace=True)

In [89]:
#df['state'].values

In [144]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#dummy = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in dummy.columns:
    dummy[col] = dummy[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

dummy['text'] = dummy['state'] + '<br>' + 'co2 ' + dummy['co2']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = dummy['code'],
    z = dummy['co2'].astype(float),
    locationmode = 'USA-states',
    text = dummy['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "millions metric tons")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2016 US CO2 Emissions by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth-map')

In [92]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#dummy1 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in dummy1.columns:
    dummy1[col] = dummy1[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

dummy1['text'] = dummy1['state'] + '<br>' + 'cons' + dummy1['cons']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = dummy1['code'],
    z = dummy1['cons'].astype(float),
    locationmode = 'USA-states',
    text = dummy1['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "millions metric tons")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2016 US consumptions by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth1-map')

In [93]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#dummy2 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in dummy2.columns:
    dummy2[col] = dummy2[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

dummy2['text'] = dummy2['state'] + '<br>' + 'prod' + dummy2['prod']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = dummy2['code'],
    z = dummy2['prod'].astype(float),
    locationmode = 'USA-states',
    text = dummy2['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "millions metric tons")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2016 US production by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth2-map')

In [94]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#dummy3 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in dummy3.columns:
    dummy3[col] = dummy3[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

dummy3['text'] = dummy3['state'] + '<br>' + 'prod/cons' + dummy3['prod/cons']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = dummy3['code'],
    z = dummy3['prod/cons'].astype(float),
    locationmode = 'USA-states',
    text = dummy3['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "prod/cons ratio")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2016 US production/consumption by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth3-map')

In [95]:
fe=pd.read_csv('land_use_forest_emissions.csv',index_col=None)

In [96]:
fe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 29 columns):
Land Use Sector    11 non-null object
1990               11 non-null float64
1991               11 non-null float64
1992               11 non-null float64
1993               11 non-null float64
1994               11 non-null float64
1995               11 non-null float64
1996               11 non-null float64
1997               11 non-null float64
1998               11 non-null float64
1999               11 non-null float64
2000               11 non-null float64
2001               11 non-null float64
2002               11 non-null float64
2003               11 non-null float64
2004               11 non-null float64
2005               11 non-null float64
2006               11 non-null float64
2007               11 non-null float64
2008               11 non-null float64
2009               11 non-null float64
2010               11 non-null float64
2011               11 non-null float64
2012               11 non-null float64
2013               11 non-null float64
2014               11 non-null float64
2015               11 non-null float64
2016               11 non-null float64
2017               11 non-null float64
dtypes: float64(28), object(1)
memory usage: 2.6+ KB

In [97]:
fe.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,...,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,-146.729832,-148.559639,-144.280658,-140.707258,-145.866316,-136.927007,-143.065719,-139.550564,-139.211936,-137.801192,...,-118.949864,-124.598182,-121.701551,-133.013896,-132.018498,-129.720054,-121.821584,-129.283123,-131.384348,-129.835534
std,300.356859,302.775584,297.273029,294.687307,297.043143,286.643770,292.572837,288.586888,287.213529,282.906931,...,249.612086,263.338265,258.588370,274.539880,269.729279,271.205026,253.311382,274.820575,275.912655,272.703457
min,-807.014075,-817.078015,-793.543619,-773.889920,-802.264736,-753.098538,-786.861452,-767.528100,-765.665647,-757.906557,...,-654.224254,-685.290003,-669.358528,-731.576429,-726.101739,-713.460295,-670.018715,-711.057176,-722.613916,-714.095439
25%,-119.882146,-119.695023,-119.908004,-119.160338,-118.649462,-118.000000,-117.843567,-118.308397,-118.561083,-119.391339,...,-124.556674,-126.169435,-127.060439,-127.359979,-127.383607,-126.864059,-126.850647,-126.733996,-126.410923,-126.343238
50%,-4.057825,-6.695296,-1.529682,-0.536162,-18.906239,-0.472160,-16.316916,-4.084247,-11.685555,-3.467330,...,-6.558553,-1.682739,-0.030360,-10.864313,-19.600988,-3.343886,-6.732097,-0.638413,-1.017681,-0.652105
75%,4.354293,4.275290,4.442630,7.399826,3.139039,5.737001,3.285082,3.401755,2.756522,3.174701,...,5.405300,5.664095,5.852087,3.426781,3.387115,4.119914,3.948776,10.017069,4.235326,4.464567
max,75.579581,76.200724,78.306185,72.992276,69.723178,75.649783,73.856261,75.762110,77.664464,79.370503,...,87.189433,86.992067,86.603575,86.041314,85.909059,86.366064,86.548280,86.474047,86.357847,86.211514

In [98]:
feT=fe[:-1].sum(axis=0)

In [99]:
feT.describe()

count      29.000000
unique     29.000000
top      -773.889919
freq        1.000000
dtype: float64

In [100]:
fe.min()

Land Use Sector    Cropland remaining cropland
1990                                  -807.014
1991                                  -817.078
1992                                  -793.544
1993                                   -773.89
1994                                  -802.265
1995                                  -753.099
1996                                  -786.861
1997                                  -767.528
1998                                  -765.666
1999                                  -757.907
2000                                  -767.438
2001                                   -722.13
2002                                  -722.055
2003                                  -629.121
2004                                  -668.029
2005                                  -740.034
2006                                  -738.478
2007                                  -699.731
2008                                  -654.224
2009                                   -685.29
2010                                  -669.359
2011                                  -731.576
2012                                  -726.102
2013                                   -713.46
2014                                  -670.019
2015                                  -711.057
2016                                  -722.614
2017                                  -714.095
dtype: object

In [101]:
fe

,Land Use Sector,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Land converted to settlements,62.921049,64.367959,66.053552,67.879106,69.707653,71.629615,73.856261,75.762110,77.664464,...,87.189433,86.992067,86.603575,86.041314,85.909059,86.366064,86.548280,86.474047,86.357847,86.211514
1,Land converted to cropland,75.579581,76.200724,78.306185,72.992276,69.723178,75.649783,72.633779,74.191400,68.345469,...,66.421375,65.817884,67.539884,67.382145,66.451394,66.944551,66.749799,66.709099,67.314465,66.865299
2,Land converted to grassland,8.737815,8.579808,8.914489,8.195975,6.307306,7.574633,6.607972,6.841317,5.550851,...,6.323883,6.805032,6.864098,6.882791,6.803458,8.269057,7.926780,9.786147,8.499880,8.346613
3,Grassland remaining grassland,-4.057825,-6.695296,-1.529682,6.603677,-18.906239,3.899368,-16.316916,-4.084247,-11.685555,...,-6.558553,-1.682739,4.840076,-10.864313,-19.600988,-3.343886,-6.732097,10.247991,-1.017681,0.582520
4,Land converted to wetlands,-0.029228,-0.029228,-0.029228,-0.029228,-0.029228,-0.029228,-0.037808,-0.037808,-0.037808,...,-0.030360,-0.030360,-0.030360,-0.029228,-0.029228,-0.029228,-0.029228,-0.029228,-0.029228,-0.029228
5,Wetlands remaining wetlands,-0.498040,-0.575568,-0.597897,-0.536162,-0.592117,-0.472160,-3.804821,-3.612510,-3.554458,...,4.486716,4.523159,4.564930,-0.388337,-0.587844,-0.621843,-0.618980,-0.638413,-0.654336,-0.652105
6,Cropland remaining cropland,-40.940106,-48.083716,-39.972809,-21.050888,-32.836146,-26.306863,-34.530665,-33.844862,-22.690336,...,-8.474444,-3.150147,-3.368481,-19.149737,-21.384511,-11.367033,-12.017867,-6.320600,-9.940700,-10.280233
7,Land converted to forest land,-119.072932,-119.132819,-119.133306,-119.228245,-119.311864,-119.397351,-119.455017,-119.481017,-119.525085,...,-120.139396,-120.188284,-120.254514,-120.375946,-120.418054,-120.451086,-120.492993,-120.595665,-120.635448,-120.618100
8,Settlements remaining settlements,-120.691361,-120.257226,-120.682703,-119.092430,-117.987059,-116.602649,-116.232116,-117.135777,-117.597082,...,-128.973951,-132.150587,-133.866365,-134.344012,-134.349161,-133.277032,-133.208302,-132.872327,-132.186398,-132.068377
9,Forest land remaining forest land,-668.963029,-671.452651,-664.872221,-669.624001,-658.340220,-649.043687,-649.582121,-646.126704,-642.136107,...,-554.468958,-592.226028,-582.251372,-606.731104,-588.895862,-605.949857,-558.144107,-623.818226,-620.322318,-612.453341
10,Total,-807.014075,-817.078015,-793.543619,-773.889920,-802.264736,-753.098538,-786.861452,-767.528100,-765.665647,...,-654.224254,-685.290003,-669.358528,-731.576429,-726.101739,-713.460295,-670.018715,-711.057176,-722.613916,-714.095439

In [102]:
fg=pd.read_csv('U.S._Natural_Gas_Vented_and_Flared_Annual.csv',index_col=None)

In [103]:
fg=fg.sort_values('Year',ascending=True)
fg['cumsum']=fg['Series ID: NG.N9040US2.A Million Cubic Feet'].cumsum()

In [104]:
fg.head()

    Year  Series ID: NG.N9040US2.A Million Cubic Feet   cumsum
81  1936                                       392528   392528
80  1937                                       526159   918687
79  1938                                       649106  1567793
78  1939                                       677311  2245104
77  1940                                       655967  2901071

In [105]:
fg.tail()

   Year  Series ID: NG.N9040US2.A Million Cubic Feet    cumsum
4  2013                                       260394  29981244
3  2014                                       293916  30275160
2  2015                                       289545  30564705
1  2016                                       209404  30774109
0  2017                                       235570  31009679

In [124]:
forest_l=pd.read_csv('Summary_Table_1_major_uses_of_land_by_region_and_state_2012.csv',index_col=None).iloc[:76,:8].dropna(how='all')
#forest_l=pd.read_csv('Summary_Table_1_major_uses_of_land_by_region_and_state_2012.csv',index_col=None)

In [125]:
forest_l.columns=[ 'States','Cropland', 'Grassland pasture and range', 'Forest-use land','Special-use areas', 'Urban areas', 'Miscellaneous other land','Total land area']

In [126]:
forest_l.sort_values('Forest-use land',ascending=False)

,States,Cropland,Grassland pasture and range,Forest-use land,Special-use areas,Urban areas,Miscellaneous other land,Total land area
49,Alaska,79.0,696.4,91817.0,146203.6,166.4,126247.8,365210.2
30,Georgia,4384.9,1680.5,24352.0,1946.0,3207.2,1237.8,36808.3
47,Oregon,4664.0,23863.2,24116.0,4151.2,718.7,3919.3,61432.3
32,Alabama,2806.5,2891.7,22800.0,1472.0,1467.3,975.3,32412.8
33,Mississippi,5174.0,2714.5,19495.0,1033.5,730.1,883.6,30030.7
12,Michigan,7766.1,1982.1,19262.0,2707.5,2355.1,2112.2,36185.0
34,Arkansas,8234.7,4126.9,18544.0,1513.6,726.5,156.6,33302.4
38,Montana,16604.7,47629.0,18429.0,7060.7,194.9,3231.1,93149.4
46,Washington,7538.6,7313.6,18081.0,7601.4,1552.7,444.5,42531.8
26,North Carolina,4472.9,1578.8,18078.0,2759.0,3085.9,1140.9,31115.5
0,Maine,390.4,159.3,17191.0,609.3,230.6,1158.9,19739.5
48,California,9577.0,26666.6,16991.0,24895.7,5299.2,16269.0,99698.6
39,Idaho,5800.9,18390.9,16771.0,6541.6,331.2,5055.9,52891.5
13,Wisconsin,10070.9,2863.7,16727.0,2343.8,1233.7,1422.0,34661.1
8,Pennsylvania,4516.8,1286.6,16242.0,2751.3,3068.9,769.9,28635.5
14,Minnesota,22451.6,3568.3,15929.0,4940.9,1116.5,2955.0,50961.3
6,New York,4246.9,2396.5,15920.0,4076.9,2638.4,881.9,30160.6
31,Florida,2834.4,5100.0,15827.0,5137.6,4901.0,520.0,34320.0
24,Virginia,2989.3,2793.9,15385.0,1792.6,1743.9,568.9,25273.6
41,Colorado,10668.5,31734.5,15138.0,7455.1,1011.7,323.1,66330.9
19,Missouri,15626.5,9791.6,15085.0,2065.6,1344.9,81.3,43994.9
35,Louisiana,4584.6,2274.8,14645.0,2022.2,1298.9,2825.0,27650.6
37,Texas,29215.2,104603.1,14357.0,6418.9,5804.6,6789.6,167188.5
28,Tennessee,5260.9,3424.3,13500.0,2017.9,1920.2,267.2,26390.4
42,New Mexico,1948.1,54343.6,13278.0,6781.6,538.7,740.8,77630.7
29,South Carolina,1903.6,976.2,13025.0,998.3,1591.3,744.7,19239.0
43,Arizona,1134.4,43579.7,13000.0,11919.5,1464.8,1601.8,72700.2
27,Kentucky,6369.4,4742.5,11886.0,1236.6,928.0,108.6,25271.0
25,West Virginia,780.7,1350.9,11780.0,1043.3,419.7,9.7,15384.3
44,Utah,1475.6,32773.7,9810.0,6045.3,614.1,1870.0,52588.8
15,Ohio,10828.9,2144.4,7864.0,1282.2,2883.5,1148.1,26151.0
36,Oklahoma,11289.7,19755.9,7656.0,1749.9,856.0,2593.3,43900.8
40,Wyoming,1986.2,46086.4,7002.0,6340.3,127.8,596.8,62139.5
45,Nevada,576.8,52329.3,5417.0,11275.6,519.8,141.2,70259.8
17,Illinois,23934.4,1728.5,4772.0,2268.4,2572.8,256.1,35532.2
16,Indiana,12710.4,1655.8,4748.0,1220.2,1657.1,937.2,22928.6
2,Vermont,412.4,305.3,4476.0,497.8,101.0,106.3,5898.9
1,New Hampshire,93.4,116.4,4341.0,605.2,423.2,150.7,5729.9
18,Iowa,26713.7,2879.4,2968.0,1953.3,627.8,606.3,35748.5
23,Kansas,28591.8,17781.0,2402.0,2023.3,636.7,891.0,52325.8
10,Maryland,1377.3,447.1,2329.0,567.4,1308.8,182.9,6212.5
3,Massachusetts,148.4,78.6,2088.0,725.9,1934.8,16.3,4992.0
21,South Dakota,19356.0,24972.0,1789.0,1915.5,152.3,334.3,48519.0
22,Nebraska,21857.3,23676.8,1470.0,1561.6,344.2,257.5,49167.4
5,Connecticut,122.6,21.9,1346.0,340.4,1177.8,90.2,3098.9
50,Hawaii,372.2,770.1,1299.0,989.7,256.4,423.3,4110.7
7,New Jersey,449.2,78.5,1116.0,1092.5,1885.2,85.2,4706.6
20,North Dakota,27120.3,13335.9,517.0,1696.6,122.5,1368.3,44160.6
9,Delaware,437.9,18.4,331.0,142.6,273.8,43.7,1247.4
4,Rhode Island,25.2,7.2,290.0,81.2,257.9,0.2,661.8
11,DC-District of Columbia,0.0,0.0,0.0,0.0,39.0,0.0,39.0

In [127]:
forest_l['grassland_forest']=forest_l['Grassland pasture and range']+forest_l['Forest-use land']

In [110]:
#1000acres=1.5625squaremiles)
#forest_l[forest_l.columns[1:]].apply(lambda x:(1.5625*x)).values

In [128]:
forest_l.sort_values('States')['grassland_forest']

32     25691.7
49     92513.4
43     56579.7
34     22670.9
48     43657.6
41     46872.5
5       1367.9
11         0.0
9        349.4
31     20927.0
30     26032.5
50      2069.1
39     35161.9
17      6500.5
16      6403.8
18      5847.4
23     20183.0
27     16628.5
35     16919.8
0      17350.3
10      2776.1
3       2166.6
12     21244.1
14     19497.3
33     22209.5
19     24876.6
38     66058.0
22     25146.8
45     57746.3
1       4457.4
7       1194.5
42     67621.6
6      18316.5
26     19656.8
20     13852.9
15     10008.4
36     27411.9
47     47979.2
8      17528.6
4        297.2
29     14001.2
21     26761.0
28     16924.3
37    118960.1
44     42583.7
2       4781.3
24     18178.9
46     25394.6
25     13130.9
13     19590.7
40     53088.4
Name: grassland_forest, dtype: float64

In [ ]:
#dumm=pd.DataFrame({'States':States_,'ran':range(51)})

In [ ]:
#dumm.s

In [ ]:
#forest_l.columns=['States', 'Cropland  5/', 'Grassland pasture and range  5/',
#       'Forest-use land', 'Special-use areas', 'Urban areas ',
#       'Miscellaneous other land 3/', 'Total land area 2/']

In [ ]:
#forest_l=forest_l.sort_values('States')[:51]

In [ ]:
#forest_l.set_index('States').index

In [ ]:
#forest_l=forest_l.drop(labels='States',axis=1)
#forest_l['States']=forest_l.index

In [129]:
forest_l.set_index('States').sort_values('States',ascending=True)

,Cropland,Grassland pasture and range,Forest-use land,Special-use areas,Urban areas,Miscellaneous other land,Total land area,grassland_forest
States,,,,,,,,
Alabama,2806.5,2891.7,22800.0,1472.0,1467.3,975.3,32412.8,25691.7
Alaska,79.0,696.4,91817.0,146203.6,166.4,126247.8,365210.2,92513.4
Arizona,1134.4,43579.7,13000.0,11919.5,1464.8,1601.8,72700.2,56579.7
Arkansas,8234.7,4126.9,18544.0,1513.6,726.5,156.6,33302.4,22670.9
California,9577.0,26666.6,16991.0,24895.7,5299.2,16269.0,99698.6,43657.6
Colorado,10668.5,31734.5,15138.0,7455.1,1011.7,323.1,66330.9,46872.5
Connecticut,122.6,21.9,1346.0,340.4,1177.8,90.2,3098.9,1367.9
DC-District of Columbia,0.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0
Delaware,437.9,18.4,331.0,142.6,273.8,43.7,1247.4,349.4
Florida,2834.4,5100.0,15827.0,5137.6,4901.0,520.0,34320.0,20927.0
Georgia,4384.9,1680.5,24352.0,1946.0,3207.2,1237.8,36808.3,26032.5
Hawaii,372.2,770.1,1299.0,989.7,256.4,423.3,4110.7,2069.1
Idaho,5800.9,18390.9,16771.0,6541.6,331.2,5055.9,52891.5,35161.9
Illinois,23934.4,1728.5,4772.0,2268.4,2572.8,256.1,35532.2,6500.5
Indiana,12710.4,1655.8,4748.0,1220.2,1657.1,937.2,22928.6,6403.8
Iowa,26713.7,2879.4,2968.0,1953.3,627.8,606.3,35748.5,5847.4
Kansas,28591.8,17781.0,2402.0,2023.3,636.7,891.0,52325.8,20183.0
Kentucky,6369.4,4742.5,11886.0,1236.6,928.0,108.6,25271.0,16628.5
Louisiana,4584.6,2274.8,14645.0,2022.2,1298.9,2825.0,27650.6,16919.8
Maine,390.4,159.3,17191.0,609.3,230.6,1158.9,19739.5,17350.3
Maryland,1377.3,447.1,2329.0,567.4,1308.8,182.9,6212.5,2776.1
Massachusetts,148.4,78.6,2088.0,725.9,1934.8,16.3,4992.0,2166.6
Michigan,7766.1,1982.1,19262.0,2707.5,2355.1,2112.2,36185.0,21244.1
Minnesota,22451.6,3568.3,15929.0,4940.9,1116.5,2955.0,50961.3,19497.3
Mississippi,5174.0,2714.5,19495.0,1033.5,730.1,883.6,30030.7,22209.5
Missouri,15626.5,9791.6,15085.0,2065.6,1344.9,81.3,43994.9,24876.6
Montana,16604.7,47629.0,18429.0,7060.7,194.9,3231.1,93149.4,66058.0
Nebraska,21857.3,23676.8,1470.0,1561.6,344.2,257.5,49167.4,25146.8
Nevada,576.8,52329.3,5417.0,11275.6,519.8,141.2,70259.8,57746.3
New Hampshire,93.4,116.4,4341.0,605.2,423.2,150.7,5729.9,4457.4
New Jersey,449.2,78.5,1116.0,1092.5,1885.2,85.2,4706.6,1194.5
New Mexico,1948.1,54343.6,13278.0,6781.6,538.7,740.8,77630.7,67621.6
New York,4246.9,2396.5,15920.0,4076.9,2638.4,881.9,30160.6,18316.5
North Carolina,4472.9,1578.8,18078.0,2759.0,3085.9,1140.9,31115.5,19656.8
North Dakota,27120.3,13335.9,517.0,1696.6,122.5,1368.3,44160.6,13852.9
Ohio,10828.9,2144.4,7864.0,1282.2,2883.5,1148.1,26151.0,10008.4
Oklahoma,11289.7,19755.9,7656.0,1749.9,856.0,2593.3,43900.8,27411.9
Oregon,4664.0,23863.2,24116.0,4151.2,718.7,3919.3,61432.3,47979.2
Pennsylvania,4516.8,1286.6,16242.0,2751.3,3068.9,769.9,28635.5,17528.6
Rhode Island,25.2,7.2,290.0,81.2,257.9,0.2,661.8,297.2
South Carolina,1903.6,976.2,13025.0,998.3,1591.3,744.7,19239.0,14001.2
South Dakota,19356.0,24972.0,1789.0,1915.5,152.3,334.3,48519.0,26761.0
Tennessee,5260.9,3424.3,13500.0,2017.9,1920.2,267.2,26390.4,16924.3
Texas,29215.2,104603.1,14357.0,6418.9,5804.6,6789.6,167188.5,118960.1
Utah,1475.6,32773.7,9810.0,6045.3,614.1,1870.0,52588.8,42583.7
Vermont,412.4,305.3,4476.0,497.8,101.0,106.3,5898.9,4781.3
Virginia,2989.3,2793.9,15385.0,1792.6,1743.9,568.9,25273.6,18178.9
Washington,7538.6,7313.6,18081.0,7601.4,1552.7,444.5,42531.8,25394.6
West Virginia,780.7,1350.9,11780.0,1043.3,419.7,9.7,15384.3,13130.9
Wisconsin,10070.9,2863.7,16727.0,2343.8,1233.7,1422.0,34661.1,19590.7
Wyoming,1986.2,46086.4,7002.0,6340.3,127.8,596.8,62139.5,53088.4

In [113]:
forest_l.index=['  Alabama', '  Alaska', '  Arizona', '  Arkansas', '  California',
       '  Colorado', '  Connecticut', '  Delaware', '  DC-District of Columbia',
       '  Florida', '  Georgia', '  Hawaii', '  Idaho', '  Illinois',
       '  Indiana', '  Iowa', '  Kansas', '  Kentucky', '  Louisiana',
       '  Maine ', '  Maryland', '  Massachusetts', '  Michigan',
       '  Minnesota  ', '  Mississippi', '  Missouri', '  Montana',
       '  Nebraska', '  Nevada', '  New Hampshire', '  New Jersey',
       '  New Mexico', '  New York', '  North Carolina', '  North Dakota',
       '  Ohio', '  Oklahoma', '  Oregon', '  Pennsylvania', '  Rhode Island',
       '  South Carolina', '  South Dakota', '  Tennessee', '  Texas',
       '  Utah', '  Vermont', '  Virginia', '  Washington', '  West Virginia',
       '  Wisconsin', '  Wyoming']

In [114]:
#forest_l.join(dumm,how='right',rsuffix='_')

In [115]:
data_cmb.sort_values('forest_area_/km²',ascending=True)

,states,Rank,sq mi,km²,Rank.1,sq mi.1,km².1,% land,Rank.2,sq mi.2,km².2,% water,rank,percent,forest_area_/sqmi,forest_area_/km²
50,DC-District of Columbia,NaN,68.34,177.0,NaN,61.05,158.0,0.893,NaN,7.29,19.00,0.1067,40,0.3390,20.695950,53.5620
48,Delaware,49.00,2488.72,6446.0,49.0,1948.54,5047.0,0.783,40.0,540.18,1399.00,0.2171,46,0.2726,531.172004,1375.8122
49,Rhode Island,50.00,1544.89,4001.0,50.0,1033.81,2678.0,0.669,43.0,511.07,1324.00,0.3308,21,0.5438,562.185878,1456.2964
18,North Dakota,19.00,70698.32,183108.0,17.0,69000.80,178711.0,0.976,24.0,1697.52,4397.00,0.0240,56,0.0172,1186.813760,3073.8292
15,Nebraska,16.00,77347.81,200330.0,15.0,76824.17,198974.0,0.993,41.0,523.64,1356.00,0.0068,55,0.0320,2458.373440,6367.1680
47,Connecticut,48.00,5543.41,14357.0,48.0,4842.36,12542.0,0.874,38.0,701.06,1816.00,0.1265,20,0.5524,2674.919664,6928.2008
42,Hawaii,43.00,10931.72,28313.0,47.0,6422.63,16635.0,0.588,13.0,4509.09,11678.00,0.4125,30,0.4253,2731.544539,7074.8655
16,South Dakota,17.00,77115.68,199729.0,16.0,75811.00,196350.0,0.983,29.0,1304.68,3379.00,0.0169,54,0.0393,2979.372300,7716.5550
46,New Jersey,47.00,8722.58,22591.0,46.0,7354.22,19047.0,0.843,27.0,1368.36,3544.00,0.1569,31,0.4172,3068.180584,7946.4084
41,Maryland,42.00,12405.93,32131.0,42.0,9707.24,25142.0,0.783,18.0,2698.69,6990.00,0.2175,33,0.3936,3820.769664,9895.8912
14,Kansas,15.00,82278.36,213100.0,13.0,81758.72,211754.0,0.994,42.0,519.64,1346.00,0.0063,53,0.0478,3908.066816,10121.8412
25,Iowa,26.00,56272.81,145746.0,23.0,55857.13,144669.0,0.993,45.0,415.68,1077.00,0.0074,52,0.0843,4708.756059,12195.5967
43,Massachusetts,44.00,10554.39,27336.0,45.0,7800.06,20202.0,0.739,16.0,2754.33,7134.00,0.2610,13,0.6057,4724.496342,12236.3514
44,Vermont,45.00,9616.36,24906.0,43.0,9216.66,23871.0,0.958,46.0,399.71,1035.00,0.0416,6,0.7782,7172.404812,18576.4122
37,Indiana,38.00,36419.55,94326.0,38.0,35826.11,92789.0,0.984,39.0,593.44,1537.00,0.0163,48,0.2106,7544.978766,19541.3634
45,New Hampshire,46.00,9349.16,24214.0,44.0,8952.65,23187.0,0.958,47.0,396.51,1027.00,0.0424,2,0.8432,7548.874480,19551.2784
24,Illinois,25.00,57913.55,149995.0,24.0,55518.93,143793.0,0.959,19.0,2394.62,6202.00,0.0413,51,0.1364,7572.782052,19613.3652
33,Ohio,34.00,44825.58,116098.0,35.0,40860.69,105829.0,0.912,14.0,3964.89,10269.00,0.0885,43,0.3092,12634.125348,32722.3268
6,Nevada,7.00,110571.82,286380.0,7.0,109781.18,284332.0,0.993,36.0,790.65,2048.00,0.0072,50,0.1589,17444.229502,45180.3548
9,Wyoming,10.00,97813.01,253335.0,9.0,97093.14,251470.0,0.993,37.0,719.87,1864.00,0.0074,49,0.1842,17884.556388,46320.7740
40,West Virginia,41.00,24230.04,62756.0,41.0,24038.21,62259.0,0.992,50.0,191.83,497.00,0.0079,5,0.7901,18992.589721,49190.8359
36,Kentucky,37.00,40407.80,104656.0,37.0,39486.34,102269.0,0.977,34.0,921.46,2387.00,0.0228,27,0.4935,19486.508790,50469.7515
19,Oklahoma,20.00,69898.87,181037.0,19.0,68594.92,177660.0,0.981,30.0,1303.95,3377.00,0.0187,44,0.2880,19755.336960,51166.0800
39,South Carolina,40.00,32020.49,82933.0,40.0,30060.70,77857.0,0.939,21.0,1959.79,5076.00,0.0612,8,0.6819,20498.391330,53090.6883
35,Tennessee,36.00,42144.25,109153.0,34.0,41234.90,106798.0,0.978,35.0,909.36,2355.00,0.0216,23,0.5283,21784.397670,56421.3834
30,Louisiana,31.00,52378.13,135659.0,33.0,43203.90,111898.0,0.825,5.0,9174.23,23761.00,0.1752,22,0.5320,22984.474800,59529.7360
20,Missouri,21.00,69706.99,180540.0,18.0,68741.52,178040.0,0.986,32.0,965.47,2501.00,0.0139,35,0.3516,24169.518432,62598.8640
34,Virginia,35.00,42774.93,110787.0,36.0,39490.09,102279.0,0.923,15.0,3284.84,8508.00,0.0768,11,0.6293,24851.113637,64364.1747
32,Pennsylvania,33.00,46054.35,119280.0,32.0,44742.70,115883.0,0.972,28.0,1311.64,3397.00,0.0285,15,0.5860,26219.222200,67907.4380
22,Wisconsin,23.00,65496.38,169635.0,25.0,54157.80,140268.0,0.827,4.0,11338.57,29367.00,0.1731,28,0.4898,26526.490440,68703.2664
11,Minnesota,12.00,86935.83,225163.0,14.0,79626.74,206232.0,0.916,9.0,7309.09,18930.00,0.0841,39,0.3408,27136.792992,70283.8656
21,Florida,22.00,65757.70,170312.0,26.0,53624.76,138887.0,0.816,3.0,12132.94,31424.00,0.1845,26,0.5068,27177.028368,70387.9316
38,Maine,39.00,35379.74,91633.0,39.0,30842.92,79883.0,0.872,12.0,4536.82,11750.00,0.1282,1,0.8946,27592.076232,71463.3318
12,Utah,13.00,84896.88,219882.0,12.0,82169.62,212818.0,0.968,17.0,2727.26,7064.00,0.0321,37,0.3448,28332.084976,73379.6464
27,North Carolina,28.00,53819.16,139391.0,29.0,48617.91,125920.0,0.903,10.0,5201.25,13471.00,0.0966,14,0.5973,29039.477643,75212.0160
5,Arizona,6.00,113990.30,295234.0,6.0,113594.08,294207.0,0.997,48.0,396.22,1026.00,0.0035,47,0.2564,29125.522112,75434.6748
28,Arkansas,29.00,53178.55,137732.0,27.0,52035.48,134771.0,0.979,31.0,1143.07,2961.00,0.0215,17,0.5631,29301.178788,75889.5501
26,New York,27.00,54554.98,141297.0,30.0,47126.40,122057.0,0.864,7.0,7428.58,19240.00,0.1362,12,0.6288,29633.080320,76749.4416
31,Mississippi,32.00,48431.78,125438.0,31.0,46923.27,121531.0,0.969,25.0,1508.51,3907.00,0.0311,10,0.6507,30532.971789,79080.2217
10,Michigan,11.00,96713.51,250487.0,22.0,56538.90,146435.0,0.585,2.0,40174.61,104052.00,0.4154,19,0.5562,31446.936180,81447.1470
13,Idaho,14.00,83568.95,216443.0,11.0,82643.12,214045.0,0.989,33.0,925.83,2398.00,0.0111,32,0.4055,33511.785160,86795.2475
17,Washington,18.00,71297.95,184661.0,20.0,66455.52,172119.0,0.932,11.0,4842.43,12542.00,0.0679,25,0.5274,35048.641248,90775.5606
7,Colorado,8.00,104093.67,269601.0,8.0,103641.89,268431.0,0.996,44.0,451.78,1170.00,0.0043,38,0.3442,35673.538538,92393.9502
29,Alabama,30.00,52420.07,135767.0,28.0,50645.33,131171.0,0.966,23.0,1774.74,4597.00,0.0339,7,0.7057,35740.409381,92567.3747
23,Georgia,24.00,59425.15,153910.0,21.0,57513.49,148959.0,0.968,22.0,1911.66,4951.00,0.0322,9,0.6728,38695.076072,100219.6152
4,New Mexico,5.00,121590.30,314917.0,5.0,121298.15,314161.0,0.998,49.0,292.15,757.00,0.0024,42,0.3199,38803.278185,100500.1039
3,Montana,4.00,147039.71,380831.0,4.0,145545.80,376962.0,0.990,26.0,1493.91,3869.00,0.0102,45,0.2745,39952.322100,103476.0690
8,Oregon,9.00,98378.54,254799.0,10.0,95988.01,248608.0,0.976,20.0,2390.53,6191.00,0.0243,29,0.4851,46563.783651,120599.7408
2,California,3.00,163696.32,423972.0,3.0,155779.22,403466.0,0.952,6.0,7915.52,20501.00,0.0484,41,0.3271,50955.382862,131973.7286
1,Texas,2.00,268596.46,695662.0,2.0,261231.71,676587.0,0.973,8.0,7364.75,19075.00,0.0274,34,0.3733,97517.797343,252569.9271
0,Alaska,1.00,665384.04,1723337.0,1.0,570640.95,1477953.0,0.858,1.0,94743.10,245384.00,0.1424,36,0.3516,200637.358020,519648.2748

In [116]:
dummy4=np.divide(TT_US_States.iloc[:1,1:].T,data_cmb.sort_values('states')['forest_area_/sqmi'].values.reshape(-1,1))
dummy4.columns=['co2/for']

In [117]:
dummy4['state']=States_
dummy4['code']=states
dummy4.set_index('code')

       co2/for              state
code
AL    0.003220            Alabama
AK    0.000174             Alaska
AZ    0.002987            Arizona
AR    0.002130           Arkansas
CA    0.007092         California
CO    0.002496           Colorado
CT    0.012823        Connecticut
DC    0.133548  District Columbia
DE    0.025057           Delaware
FL    0.008465            Florida
GA    0.003521            Georgia
HI    0.006752             Hawaii
ID    0.000549              Idaho
IL    0.026947           Illinois
IN    0.024103            Indiana
IA    0.015531               Iowa
KS    0.015881             Kansas
KY    0.006359           Kentucky
LA    0.009099          Louisiana
ME    0.000597              Maine
MD    0.015064           Maryland
MA    0.013587      Massachusetts
MI    0.004826           Michigan
MN    0.003289          Minnesota
MS    0.002257        Mississippi
MO    0.004869           Missouri
MT    0.000762            Montana
NE    0.019751           Nebraska
NV    0.002101             Nevada
NH    0.001822      New Hampshire
NJ    0.036124         New Jersey
NM    0.001247         New Mexico
NY    0.005523           New York
NC    0.004151     North Carolina
ND    0.045739       North Dakota
OH    0.016327               Ohio
OK    0.004906           Oklahoma
OR    0.000815             Oregon
PA    0.008292       Pennsylvania
RI    0.017342       Rhode Island
SC    0.003498     South Carolina
SD    0.005033       South Dakota
TN    0.004731          Tennessee
TX    0.006705              Texas
UT    0.002074               Utah
VT    0.000830            Vermont
VA    0.004194           Virginia
WA    0.002250         Washington
WV    0.004978      West Virginia
WI    0.003604          Wisconsin
WY    0.003392            Wyoming

In [ ]:
#np.divide(TT_US_States.iloc[:1,1:].T,data_cmb.sort_values('states')['forest_area_/sqmi'].values.reshape(-1,1))

In [131]:
#forest_l
forest_l.sort_values('States')['grassland_forest']

32     25691.7
49     92513.4
43     56579.7
34     22670.9
48     43657.6
41     46872.5
5       1367.9
11         0.0
9        349.4
31     20927.0
30     26032.5
50      2069.1
39     35161.9
17      6500.5
16      6403.8
18      5847.4
23     20183.0
27     16628.5
35     16919.8
0      17350.3
10      2776.1
3       2166.6
12     21244.1
14     19497.3
33     22209.5
19     24876.6
38     66058.0
22     25146.8
45     57746.3
1       4457.4
7       1194.5
42     67621.6
6      18316.5
26     19656.8
20     13852.9
15     10008.4
36     27411.9
47     47979.2
8      17528.6
4        297.2
29     14001.2
21     26761.0
28     16924.3
37    118960.1
44     42583.7
2       4781.3
24     18178.9
46     25394.6
25     13130.9
13     19590.7
40     53088.4
Name: grassland_forest, dtype: float64

In [133]:
dummy5=np.divide(TT_US_States.iloc[:1,1:].T,forest_l.sort_values('States')['grassland_forest'].values.reshape(-1,1))

dummy5.columns=['co2/for']
dummy5['code']=states
dummy5['state']=States_
dummy5=dummy5.drop(index='EMISS.CO2-TOTV-TT-TO-DC.A')

/home/ajshemi/miniconda3/envs/ajs/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning:

divide by zero encountered in true_divide

In [134]:
dummy5.sort_values('co2/for',ascending=True).head(8)

                            co2/for code         state
EMISS.CO2-TOTV-TT-TO-AK.A  0.000377   AK        Alaska
EMISS.CO2-TOTV-TT-TO-MT.A  0.000461   MT       Montana
EMISS.CO2-TOTV-TT-TO-ID.A  0.000523   ID         Idaho
EMISS.CO2-TOTV-TT-TO-SD.A  0.000560   SD  South Dakota
EMISS.CO2-TOTV-TT-TO-NV.A  0.000635   NV        Nevada
EMISS.CO2-TOTV-TT-TO-NM.A  0.000716   NM    New Mexico
EMISS.CO2-TOTV-TT-TO-OR.A  0.000791   OR        Oregon
EMISS.CO2-TOTV-TT-TO-ME.A  0.000949   ME         Maine

In [135]:
dummy4.sort_values('co2/for',ascending=True).head(8)

                            co2/for          state code
EMISS.CO2-TOTV-TT-TO-AK.A  0.000174         Alaska   AK
EMISS.CO2-TOTV-TT-TO-ID.A  0.000549          Idaho   ID
EMISS.CO2-TOTV-TT-TO-ME.A  0.000597          Maine   ME
EMISS.CO2-TOTV-TT-TO-MT.A  0.000762        Montana   MT
EMISS.CO2-TOTV-TT-TO-OR.A  0.000815         Oregon   OR
EMISS.CO2-TOTV-TT-TO-VT.A  0.000830        Vermont   VT
EMISS.CO2-TOTV-TT-TO-NM.A  0.001247     New Mexico   NM
EMISS.CO2-TOTV-TT-TO-NH.A  0.001822  New Hampshire   NH

In [136]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#dummy3 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in dummy4.columns:
    dummy4[col] = dummy4[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

dummy4['text'] = dummy4['state'] + '<br>' + 'co2/for' + dummy4['co2/for']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = dummy4['code'],
    z = dummy4['co2/for'].astype(float),
    locationmode = 'USA-states',
    text = dummy4['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "co2/forest ratio")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2016 US Co2/forest area by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth4-map')

In [138]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

#dummy3 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')

for col in dummy5.columns:
    dummy5[col] = dummy5[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

dummy5['text'] = dummy5['state'] + '<br>' + 'co2/for' + dummy5['co2/for']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = dummy5['code'],
    z = dummy5['co2/for'].astype(float),
    locationmode = 'USA-states',
    text = dummy5['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "co2/forest ratio")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2016 US Co2/forest area by State<br>(Hover for breakdown)'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'd3-cloropleth5-map')

In [139]:
import datetime
year=datetime.datetime.today().year

In [140]:
np.arange(year-42,year)

array([1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [141]:
pres_co2=pd.DataFrame()
pres_co2['year']=np.arange(year-42,year)

In [142]:
pres_co2['party']=['D','D','D','D','R','R','R','R','R','R','R','R','R','R','R','R','D','D','D','D','D','D','D','D','R','R','R','R','R','R','R','R','D','D','D','D','D','D','D','D','R','R']

In [143]:
pres_co2

    year party
0   1977     D
1   1978     D
2   1979     D
3   1980     D
4   1981     R
5   1982     R
6   1983     R
7   1984     R
8   1985     R
9   1986     R
10  1987     R
11  1988     R
12  1989     R
13  1990     R
14  1991     R
15  1992     R
16  1993     D
17  1994     D
18  1995     D
19  1996     D
20  1997     D
21  1998     D
22  1999     D
23  2000     D
24  2001     R
25  2002     R
26  2003     R
27  2004     R
28  2005     R
29  2006     R
30  2007     R
31  2008     R
32  2009     D
33  2010     D
34  2011     D
35  2012     D
36  2013     D
37  2014     D
38  2015     D
39  2016     D
40  2017     R
41  2018     R

In [ ]:
import requests
import lxml.html as lh
import pandas as pd
#url='https://en.wikipedia.org/wiki/List_of_countries_by_meat_consumption'
#url='https://en.wikipedia.org/wiki/Forest_cover_by_state_and_territory_in_the_United_States#cite_note-USDA1-1'
url='https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area'
#url='https://www.enchantedlearning.com/usa/states/area.shtml'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [ ]:
type(tr_elements[1])

In [ ]:
[len(T) for T in tr_elements[2:63]]

In [ ]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[1]:
    i+=1
    name=t.text_content()
    print( '%d:"%s"'%(i,name))
    col.append((name,[]))

In [ ]:
#count=0
for j in range(1,len(tr_elements[0:3])):
    #print(j)
    #count+=1
    #T is our j'th row
    T=tr_elements[j]
    print(T)

In [ ]:
len([i for i in range(2,62)])

In [ ]:
for t in tr_elements[61].iterchildren():
    print(t.text_content())

In [ ]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(2,62):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=12:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [ ]:
[len(C) for (title,C) in col]

In [ ]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [ ]:
#df.columns=['Country', 'Kg/person_2002', 'Kg/person_2009']
df.columns=['Statefederal_district_or_territory', 'Rank', 'sq_mi', 'km²', '%_land','%_water']
df.columns

In [ ]:
# Assign spreadsheet filename to `file`
file ='/home/ajshemi/Scripts_and_datafiles/SCRIPTS/DATA/D_FINAL.xlsx'

# Load spreadsheet
xl = pd.ExcelFile(file)

# Print the sheet names
print(xl.sheet_names)

# Load a sheet into a DataFrame by name: df1
#df1 = xl.parse('Sheet1')

In [ ]:
import os
os.getcwd()

In [ ]:
with open('/home/ajshemi/D_FINAL.csv', encoding="latin-1") as fd:
    rd = csv.reader(fd)

In [ ]:
rd.line_num

In [ ]:
csv_read_=csv.reader(open('/home/ajshemi/D_FINAL.csv', 'r', encoding='latin1'), delimiter = ';')
for i in csv_read_:
    print(i)

In [ ]:
import csv

In [ ]:
csv.reader?

In [ ]:
import pandas as pd
co2_d=pd.read_csv('/home/ajshemi/D_FINAL.csv', index_col=None,encoding='latin-1')

In [ ]:
co2_d.columns

In [ ]:
co2_d.info()

In [ ]:
co2_d.describe()

In [ ]:
co2_d.sort_values('Total emissions (CDP) [tCO2-eq]',ascending=False)

In [ ]:
co2_d.sort_values('Population (others)',ascending=False)

In [ ]:
co2_d.groupby('Country').count()

In [ ]:
co2_d.sort_values

In [ ]:
import csv
with open('/home/ajshemi/Scripts_and_datafiles/SCRIPTS/DATA/D_FINAL.tsv') as tsvfile:
    reader = csv.DictReader(tsvfile, dialect='excel-tab')
    for row in reader:
        print(row)

In [ ]:
import os
cwd = os.getcwd()
cwd

In [ ]:
! pip Install xlrd

In [ ]:
with open('cities_emissions.csv', encoding="latin-1") as fd:
    rd = csv.reader(fd)

In [ ]:
df_1.groupby('Year').sum()

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df_4=pd.read_csv('global_power_plant_database.csv',index_col=False)

In [ ]:
df_4.info()

In [ ]:
df_4.describe()